[2018-04-30 15:24] pa-w opened #1 "[CC API] Containerize!"
As discussed, this is a great project to start our contanerization.

[2018-04-30 15:26] pa-w opened #2 "[CC API] OAuth: CCID? Other?"
This API will have clients which will need consumer keys and secrets (OAuth)...

Let's implement OAuth and see if we can use CCID for these purposes.

[2018-05-15 14:41] pa-w commented on #2
Using GitHub users can work pretty well, also.

@aldenstpage, what do you think?

[2018-05-15 15:03] aldenstpage commented on #2
I like the suggestion to use GitHub accounts. I don't want to link it up to CCID since it sounds like nobody wants to maintain it and because API authorization should be managed separately from application authorization.

[2018-05-16 17:07] aldenstpage opened #3 "Initial work on CC-catalog API server (set up Django REST skeleton and migrate models from the legacy app)"

[2018-05-22 20:04] aldenstpage commented on #2
I added support for two OAuth2 authorization flows:
1) For push API users: We issue a `client id` and `client secret` to whoever wants access to our API. Using those details, they request a temporary bearer token from our API server. There is no third party for this flow; everything happens on our servers.
2) GitHub social login for front-end users. We should support more options later, since most

[2018-05-22 20:05] #2 closed

[2018-05-22 20:32] aldenstpage opened #7 "Build PostgreSQL --> Elasticsearch syncer"
Check Postgres for updates on tables every few seconds. Whenever there is sizable change to the table, use the bulk insert API to push the data to Elasticsearch.

This should improve our indexing speed considerably over the old Django signals based implementation.

[2018-06-08 17:09] #3 closed

[2018-06-11 17:09] pa-w commented on #3
Hey, @aldenstpage, can you point to the commits that were relevan to this issue?

[2018-06-11 17:28] aldenstpage commented on #3
You can find most of it in the [es-sync branch](https://github.com/creativecommons/cccatalog-api/commit/d96a3af11d44c996e122741c66b7cfe0a2fcbc9b) that I've been working on, since all of this stuff was a prerequisite of working on the Elasticsearch synchronizer.

Apologies for the monster commit, I restructured the project and added a lot of new content at the same time.

[2018-06-12 14:59] aldenstpage opened #23 "Separate legacy postgres/elasticsearch instances from new infrastructure"

[2018-06-12 17:29] #23 closed

[2018-06-12 17:33] aldenstpage opened #24 "[CC API] Move API server infrastructure to us-east-1 (everything should be in the same region as the database)"
We had to move our development database to US-East-1 (N Virginia) in order to make use of Amazon Glue and left everything else in US-West-1 (N California).

Cross-region communication causes data transfer fees and adds latency, so the dev cccatalog API server should be moved to US East 1 as well. This will entail setting up a new VPC.

[2018-06-12 18:45] #24 closed

[2018-06-13 03:02] aldenstpage opened #25 "Index "tombstone" meta_data column in Elasticsearch"

[2018-06-13 03:16] aldenstpage commented on #25
@pa-w I set up the new Elasticsearch replicator to migrate this column over.

`curl -i 'localhost:9200/image/_search?q=pg_id:9619372&pretty=true'`
`. . .
 . . .
      {
        "_index": "image",
        "_type": "doc",
        "_id": "9619372",
        "_score": 1,
        "_source": {
          "pg_id": 9619372,
          "title": "Piece",
          "identifier": "EscQtOoVEOCCQyPwVddcXw==",

[2018-06-13 03:21] #25 closed

[2018-06-13 14:44] aldenstpage opened #26 "Require login to access dev API instances"

[2018-06-13 14:45] aldenstpage opened #27 "Implement search endpoints"

[2018-06-13 19:03] #26 closed

[2018-06-19 17:54] aldenstpage opened #36 "Documentation and unit testing catch-up"

[2018-06-26 18:47] #7 closed

[2018-06-26 18:47] #36 closed

[2018-06-27 17:32] aldenstpage opened #38 "es-syncer aquires unnecessary table locks"

[2018-07-03 14:04] aldenstpage opened #41 "Minimal front-end for cccatalog"

[2018-07-03 16:20] aldenstpage commented on #38
It is still acquiring an exclusive lock during polling.

[2018-07-03 19:21] #38 closed

[2018-07-03 19:23] aldenstpage commented on #38
The syncer now complete severs its connections with Postgres when it finishes polling.

[2018-07-09 12:28] sebworks opened #42 "Create mock search UI"

[2018-07-09 12:33] sebworks commented on #42
Moving this issue tohttps://github.com/creativecommons/cccatalog-frontend/issues/1

[2018-07-09 12:33] #42 closed

[2018-07-10 13:31] aldenstpage opened #43 "Lists endpoints"

[2018-07-10 13:32] aldenstpage opened #44 "Link shortening and sharing"

[2018-07-10 13:32] aldenstpage opened #45 "Search by tag query in ES"
Once the machine generated tags have been denormalized and stored in the 'image' table, I will get started on this.

[2018-07-10 14:54] aldenstpage commented on #27
The last steps remaining are documentation and deployment.

[2018-07-10 17:00] pa-w commented on #41
Can we break this down into smaller tasks? @sebworks @aldenstpage

[2018-07-10 19:23] sebworks commented on #41
Yep @pa-w , I'll break this down.

[2018-07-11 13:57] sebworks commented on #41
This task is composed of the following tasks:

- [ ] https://github.com/creativecommons/cccatalog-frontend/issues/1
- [ ] https://github.com/creativecommons/cccatalog-frontend/issues/2
- [ ] https://github.com/creativecommons/cccatalog-frontend/issues/3
- [ ] https://github.com/creativecommons/cccatalog-frontend/issues/6

[2018-07-11 18:11] aldenstpage opened #47 "Add provider search filter"

[2018-07-12 14:20] aldenstpage opened #50 "[es-syncer] Resync updated rows to Elasticsearch"

[2018-07-12 16:08] #27 closed

[2018-07-12 22:08] aldenstpage opened #53 "[es-syncer] Use index aliases to allow reindexing without loss of availability of Elasticsearch"

[2018-07-13 14:49] aldenstpage commented on #47
Now availabile in development environment

[2018-07-13 14:49] #47 closed

[2018-07-13 15:00] aldenstpage opened #55 "Docker was suddenly removed from the Linux 2 repositories, breaking the syncer"

[2018-07-13 15:35] aldenstpage commented on #55
Fixed by upgrading AMI

[2018-07-13 15:35] #55 closed

[2018-07-18 14:20] aldenstpage opened #56 "Create detail view at /image/{id}"
- Register a page view (creativecommons/cccatalog-frontend#9)
- Return everything we have on this particular image ID in Elasticsearch + the view count

[2018-07-19 20:37] sebworks opened #57 "Discussion: How should we handle image and tag metrics?"
There is ongoing discussion about the best ways to store and display image and tag metrics.  This issue is meant to help flush out those ideas.

@aldenstpage
@pa-w

[2018-07-19 20:37] sebworks commented on #57
@aldenstpage
@pa-w

[2018-07-20 15:18] aldenstpage opened #58 "Cross-origin requests are disabled, which denies access to the API outside of our .engineering domain"

[2018-07-20 15:58] aldenstpage commented on #58
Confirmed fixed by @sebworks

[2018-07-20 15:58] #58 closed

[2018-07-20 18:24] aldenstpage opened #61 "Migrate legacy lists to anonymous lists"

[2018-07-24 16:36] aldenstpage opened #69 "Provide tag metrics API endpoint. Return the top N tags and show how the number of occurrences of each tag."
Return the top N (between 1 and 10000) tags and a count of their occurrences.

Query
`curl -X GET api-dev.creativecommons.engineering/tag/n=10`

Response
[code]

Cache Elasticsearch query server-side for  at least 8 hours (our tag data is not changing frequently at this time so cache freshnesss is not a priority)

[2018-07-24 17:01] aldenstpage opened #70 "Set up SSL certs"

[2018-07-24 17:09] aldenstpage opened #71 "Allow editing of lists if the correct List password (either set by the creator or automatically generated) is provided."
PUT /list/{id} to edit existing list
DELETE /list/{id}

Both will require an HTTP Basic token. This is intentionally simplistic from a security standpoint; we want users to be able to easily share and curate lists anonymously.

[2018-07-26 18:05] aldenstpage opened #72 "Set up nginx in front of API server for gzip compression and faster serving of static content"

[2018-07-30 15:43] aldenstpage commented on #56
Still need to implement some protections against view count abuse (repeated calls to detail endpoints can be used to game our stats) and database persistence (right now the view data stays in the application cache)

[2018-07-31 17:54] #56 closed

[2018-08-01 16:52] aldenstpage opened #83 "`view_count` column needs a default value"

[2018-08-02 17:28] #44 closed

[2018-08-03 22:31] aldenstpage commented on #45
The new tag format is exposed under the `detailed_tags` field. For now, the old tags exist in the `tags` field. Both fields are given equal weight in search results. Eventually, the old tags will go away, and the "new" tags will live in the `tags` field.

[2018-08-03 22:31] #45 closed

[2018-08-07 13:58] aldenstpage opened #94 "Return fully resolved images instead of IDs in list detail view"

[2018-08-07 16:04] aldenstpage commented on #94
Released in 0.7.0

[2018-08-07 16:04] #94 closed

[2018-08-07 16:14] aldenstpage opened #99 "Use something besides primary key to identify objects exposed from the API"
Primary keys are an implementation detail that can change without notice (such as if we were to migrate to a new database). As such, we need to expose an alternative identifier besides the primary key.

This means we will have to set an alternative unique identifier on each image when it is loaded in the database. For entities that are created on the API server, such as lists, this can be done upo

[2018-08-08 15:25] aldenstpage opened #102 "Sort search results by popularity"

[2018-08-10 14:47] aldenstpage commented on #61
@pa-w I wrote a script that produces a CSV with the headers `email,title,new_url`, where `email` is the name of the new user and `new_url` is the location of the freshly migrated list inside of the API.

@sebworks To complete the migration, we're going to need a route for list detail views in the Vue app (since we don't want to link people to the raw json response)

[2018-08-14 13:51] aldenstpage opened #107 "Load testing via Locust"

[2018-08-14 13:57] aldenstpage opened #108 "POST /link sometimes fails under traffic due to a race condition"

[2018-08-16 14:07] #108 closed

[2018-08-16 17:11] aldenstpage opened #109 "Add optional shorten parameter to create list post body"

[2018-08-16 17:12] sebworks opened #110 "Improve image loading strategy when searching"

[2018-08-16 17:15] sebworks opened #111 "Improve share toolbar UI"

[2018-08-16 17:16] #110 closed

[2018-08-16 17:16] #111 closed

[2018-08-17 14:13] #107 closed

[2018-08-17 20:41] aldenstpage opened #112 "Use `removed_from_source` field to filter dead links from Elasticsearch"
We routinely crawl the web and consume APIs to find CC licensed works. As a search engine, we have to deal with link rot; images are often deleted or moved from their original location. During crawling, if we detect that an image has been deleted, we will mark it with the `removed_from_source` field in our database.

`ingestion-server`, our tool for building an Elasticsearch index, will need to be

[2018-08-23 19:09] aldenstpage opened #113 "Track number of clicks shortened URLs receive"

[2018-08-30 21:07] aldenstpage opened #115 "Return authorization token upon list creation"
Users need to be able to update and delete lists anonymously. To accommodate this, we can return an authorization token, which can then be stored on the user's machine (either in a cookie or localstorage).

It will be sent in plain text over SSL. An attacker with local access to the user's machine could steal this token and make updates to other lists, but this isn't really a threat to be concerne

[2018-08-30 21:10] aldenstpage opened #116 "Anonymous update list endpoint"
If the user supplies the correct authorization header for a list, allow them to submit updates to the list.

[2018-09-04 15:33] aldenstpage opened #123 "Split "creator" search into a separate search query parameter instead of including it in the results by default"

[2018-09-18 18:43] janeatcc opened #126 "give jane access to categorize and add assignees to issues on this repo"
thanks!

[2018-09-20 17:33] sebworks opened #127 "Image license filter isn't returning any results"
To Reproduce:

Visit
https://api.creativecommons.engineering/image/search?q=nature
and select an image license from the return images.

Add that license type as a parameter(`&li=by`).

https://api.creativecommons.engineering/image/search?q=nature&li=by

Notice you don't get any results.

[2018-09-20 17:39] sebworks opened #128 "Image provider filter isn't accepting multiple values"
To Reproduce:

Visit
https://api.creativecommons.engineering/image/search?q=nature&provider=nypl
https://api.creativecommons.engineering/image/search?q=nature&provider=met
and verify images are returned.

Add that provider type as a parameter(`&provider= nypl,met `).

https://api.creativecommons.engineering/image/search?q=nature&provider=nypl,met

Notice you don't get the following:

<img width="1

[2018-09-25 00:29] #126 closed

[2018-09-25 00:29] #123 closed

[2018-09-25 13:33] aldenstpage opened #130 "Some tags are empty in our database"
Example: https://ccsearch.creativecommons.org/photos/15621775

Error:
[code]

Tags for this image (note the empty tag):
[code]

[2018-09-25 14:59] aldenstpage commented on #130
The API handles malformed tag data without an internal server error now. The front end renders the empty tag. To resolve this, @sclachar is going to fix the bad tag data in our intermediary database, which I will then synchronize to production.

[2018-09-25 15:12] aldenstpage opened #133 "Add "about" endpoint that dynamically shows the number of images we have for each provider"

[2018-09-25 15:12] #70 closed

[2018-09-25 15:12] #61 closed

[2018-09-25 15:12] #71 closed

[2018-09-25 15:26] aldenstpage opened #134 "Decommission old ccsearch app infrastructure"
- Elasticsearch cluster
- EC2 instances

We will keep the database around just in case we need to import any other data to the new system.

[2018-09-25 17:27] sclachar commented on #130
resolved, @aldenstpage please sync to prod.

[2018-09-25 18:36] #72 closed

[2018-09-25 19:51] aldenstpage opened #135 "API should only serve HTTPS images"
Going to replace all links with HTTPS

[2018-09-26 19:37] #1 closed

[2018-09-26 19:37] #41 closed

[2018-09-26 19:37] #109 closed

[2018-09-26 19:37] #115 closed

[2018-09-26 19:37] #116 closed

[2018-09-26 19:38] #134 closed

[2018-09-27 14:58] aldenstpage commented on #135
Confirmed fixed by end user https://twitter.com/tombrossman/status/1045316336157626368?s=19

[2018-09-28 17:19] aldenstpage commented on #102
Easy change once #50 is implemented

[2018-10-02 13:39] aldenstpage commented on #133
Live in 0.16.0

[2018-10-02 13:39] #133 closed

[2018-10-05 07:41] mzeinstra opened #253 "License tags should probably be filtered out or be a special category"
When you find an image (https://ccsearch.creativecommons.org/photos/16136571 for example) and what to explore further using the tags there should be a special category or filtering of all common names of CC licenses.

When you click on a tag for, example CC0, you expect to find more cc0 material. However that tag also appears on non cc0 licensed material. This is confusion to the end-user.

[2018-10-05 14:59] #99 closed

[2018-10-05 16:14] aldenstpage commented on #130
Synced in production

[2018-10-05 16:14] #130 closed

[2018-10-09 21:43] aldenstpage opened #137 "Validate all image links using HEAD requests"

[2018-10-12 17:18] aldenstpage opened #138 "Secure Graylog - SSL proxy and anonymization of PII"
Our server logs can contain sensitive information. Graylog should be tightly secured behind an SSL proxy. We also need to anonymize IP addresses to protect the privacy of our users.

[2018-10-12 21:36] aldenstpage commented on #135
Reopening due to ongoing concerns with HTTP images in Common Crawl

[2018-10-15 15:23] aldenstpage commented on #138
I added SSL and set up a Graylog extractor to mask the last octet of all logged IPs.

[2018-10-15 15:23] #138 closed

[2018-11-02 18:03] aldenstpage opened #139 "Produce an archive of Flickr CC image links"
@sclachar is working on importing the remaining Flickr links into the database. Once that's complete, I'll produce an archive of the CC licensed links and upload it to a private S3 bucket, which we can then share with the Internet Archive developers.

[2018-11-07 22:04] aldenstpage opened #141 "No HTTPS cert set up for shares.cc"

[2018-11-09 15:54] aldenstpage opened #142 "Intermediary database maintenance tasks"
- Private DNS in front of intermediary DB to prevent disruption every time I need to migrate it to a new RDS instance
- Migrate intermediary DB to a new RDS instance with less excess free space

Will keep @sclachar updated

[2018-11-09 15:54] aldenstpage opened #143 "Migrate Flickr ~200MM images to prod systems"

[2018-11-15 17:43] aldenstpage opened #144 "Set up Terraform remote state so others within the team can collaborate and deploy"

[2018-11-15 20:16] aldenstpage commented on #141
Fixed w/ Certbot

[2018-11-15 20:16] #141 closed

[2018-11-15 20:16] #139 closed

[2018-11-19 18:10] aldenstpage commented on #143
done

[2018-11-19 18:10] #143 closed

[2018-11-27 14:41] aldenstpage opened #147 "Source link is sometimes treated as an internal route rather than an external link in image detail views"
Image detail view source links sometimes route users to a non-existent page within CC Search.

Sometimes, links in our database include the protocol (e.g. https://), and other times it does not. When the protocol is included, the user will be correctly routed, and when it is missing, they will be routed to the non-existent internal page.

This can be fixed by either:
1) Adding some logic in the fr

[2018-11-27 17:30] aldenstpage commented on #147
"creator_url" needs to be fixed for the same reason

[2018-11-27 18:37] aldenstpage commented on #147
The fix is in testing. I expect this will go out with the production 0.19.0 release on Friday.

[2018-11-27 18:53] aldenstpage opened #148 "Remove all fields not used as search criteria from Elasticsearch"
Our Elasticsearch cluster contains many fields that are not used directly in search, including:
[code]

Cutting these fields from Elasticsearch may significantly lower the size of our data in memory, which would allow us to run a leaner and cheaper Elasticsearch cluster, or at the very least improve search performance.

[2018-11-27 18:59] aldenstpage opened #149 "Consider self-hosting Elasticsearch on EC2 to reduce AWS costs"

[2018-11-27 19:20] aldenstpage opened #150 "Use smaller dedicated primary instances in Elasticsearch"
AWS recommends m3.medium for dedicated primary instances in Elasticsearch clusters with up to five nodes. Ours has three.

The data nodes will need to stay on m4.4xlarge in order to perform searches at an adequate level of performance.

[2018-11-27 23:49] aldenstpage opened #152 "Cache top N searches (N=1,000,000?) in Redis"

[2018-11-28 16:06] aldenstpage commented on #150
In pre-production; passed performance tests and will go live on Friday at the latest

[2018-11-28 16:06] #150 closed

[2018-11-28 16:07] aldenstpage commented on #152
Assigned "low priority" because performance is adequate at current levels of traffic

[2018-11-28 16:18] #147 closed

[2018-11-28 16:18] #137 closed

[2018-11-28 18:48] aldenstpage opened #153 "Occasional duplicates in search results"
The problem is that replica shards sometimes have slightly different contents from each other, which makes the view inconsistent from page to page. Special consideration needs to be made to ensure each user queries the same Elasticsearch shard.

This can be fixed by making use of the `preference` parameter in Elasticsearch.

[2018-11-28 20:13] aldenstpage commented on #153
It seems like AWS Elasticsearch Service does not respect the `preference` parameter.

[2018-11-30 21:56] aldenstpage opened #154 "Log API response times"

[2019-01-03 19:05] aldenstpage opened #155 "Clean up cost allocation tags"

[2019-01-03 19:41] aldenstpage opened #156 "Make project more approachable for outside contributors"
- [x] Make sure README is fully up-to-date.
- [x] Update any other existing documentation.
- [x] Describe how to run the project locally and verify that the steps work.
- [x] Describe how to run the tests.
- [x] Include sample data for prepopulating the database for local development.
- [x] Move operations guide to internal wiki.
- [x] Document project goals, code layout, and project status.
- [x]

[2019-01-04 05:57] #50 closed

[2019-01-04 05:57] #53 closed

[2019-01-07 17:35] aldenstpage opened #157 "Ingestion Server testing"
- [x] Finish writing integration tests
- [x] Run end-to-end test with the real upstream CC Catalog database and development API environment
- [x] Run it in production.

[2019-01-07 17:50] #155 closed

[2019-01-07 18:31] aldenstpage opened #158 "Set up Terraform so people besides Alden can deploy cccatalog-frontend and cccatalog-api"
- [x] Refactor Terraform layout so each environment corresponds to a single Terraform file. This makes it easier to share vars and configuration, such as remote state, without repeating them in every single subdirectory.
- [x] Set up remote state for dev and prod
- [x] Import datastores into tfstate
- [x] `git-crypt` the secrets file and keep it in the repository.
- [x] Move Terraform deployment c

[2019-01-09 21:34] kgodey commented on #158
@aldenstpage how does this differ from #144?

[2019-01-09 22:35] aldenstpage commented on #158
Right now, everything is managed through local unversioned secrets, which
you would have to pull from LastPass. It would be nice to use git-crypt to
remove this step. I'll look into setting that up.

Terraform is meant to be executed from your laptop and synced with remote
state, so there's no need to set up a dedicated instance.

On Wed, Jan 9, 2019 at 4:42 PM Timid Robot Zehta <notifications@git

[2019-01-10 00:21] aldenstpage commented on #158
@kgodey Oops, I've closed that one as a duplicate. This ticket has more detail.

[2019-01-14 22:02] #157 closed

[2019-01-17 19:12] aldenstpage opened #160 "Two versions of the front end run at the same time for a brief window during deployment"
This leads to some strange behavior in the front end for a few minutes while the deployment proceeds.

[2019-01-18 15:39] aldenstpage opened #161 "Zero out search result count if the entire page has been filtered"

[2019-01-22 17:22] aldenstpage opened #162 "No results for any Brooklyn Museum queries"
API returns `result_count=404`, which is quite strange

[2019-01-22 21:13] aldenstpage opened #164 "Monthly CSV"
@sclachar I'll close this issue once this is ready

[2019-01-24 15:15] #158 closed

[2019-01-25 15:51] aldenstpage commented on #113
I don't think this is a priority for us anymore, so I'm closing this issue. We should be able to get this information from Graylog if we need to.

[2019-01-25 15:51] #113 closed

[2019-01-25 15:51] #57 closed

[2019-01-25 15:53] aldenstpage commented on #69
It's not clear where this fits into the end user experience. It's interesting to know the rough makeup of our tags, but this can be found through manual analysis of our search index in Kibana.

[2019-01-25 15:53] #69 closed

[2019-01-25 15:55] aldenstpage commented on #102
@brenoferreira Is this a feature that would be of interest to you? I'm interested in finding alternative ways to rank search results, but I have a feeling that ranking by view count is not going to be particularly useful for finding the best content in the catalog.

[2019-01-25 15:56] aldenstpage commented on #112
Marked as low priority; dead links are filtered from search results in realtime now.

[2019-01-25 17:19] brenoferreira commented on #102
View count will probably favour images that are already first in the results. Maybe once we implement features such as image download, and a way of tracking re-usage of the images, we could use those metrics along with view count to create a better indicator of popularity. What do you think?

[2019-01-25 17:36] #156 closed

[2019-01-25 17:51] aldenstpage opened #170 "Create list of good first issues for new contributors"

[2019-01-25 17:52] aldenstpage opened #171 "Set test coverage, code style, and performance standards"

[2019-01-25 18:25] aldenstpage opened #172 "Image detail view crashes if the content provider is missing from the content_provider table."
The correct behavior is to fall back to the "ugly" display name.

[2019-01-25 21:56] aldenstpage opened #175 "Run API integration tests automatically in Travis-CI. Currently, only Ingestion Server tests are run automatically."

[2019-01-25 22:52] #175 closed

[2019-01-28 19:24] #161 closed

[2019-01-28 20:23] janeatcc commented on #102
Fyi that image download would still be a way to download the image directly from the provider (as currently right clicking does) as we don't host on our servers. If we were to change this up, we'd have to discuss with the product team, including counsel.

Agree with the general approach that whatever we do WRT tracking re-use in the future should be factored in here though.

[2019-01-29 16:29] #171 closed

[2019-01-29 18:54] aldenstpage opened #180 "Incorrect image count in `/statistics/image` page during data ingestion"
![Image count bug](https://i.imgur.com/vmvIZm7.png)

It appears that the server counts images in the temporary index while they are being loaded. Only the current index should be counted.

[2019-01-29 19:02] aldenstpage opened #181 "Remove unused legacy_tags field from search index"

[2019-01-29 19:26] #181 closed

[2019-01-30 16:33] #180 closed

[2019-01-30 17:44] #154 closed

[2019-01-30 17:45] aldenstpage commented on #153
It seems like this was actually a problem with a bug in a test I wrote. The problem is not occurring in production anymore.

[2019-01-30 17:45] #153 closed

[2019-01-30 18:17] aldenstpage opened #185 "Use `preference` parameter for better caching and search consistency"
Elasticsearch distributes requests across multiple machines. While this improves query performance on our large data set, it comes at the cost of consistency across pages [0] and cache performance [1][2]. Elasticsearch caches on a per-node level, so paginated queries will be poorly cached if they hit different nodes.

By setting `preference` to a hashed version of a user's IP, we can ensure that t

[2019-01-31 18:25] kgodey opened #187 "Write up an introduction to Graylog on the internal wiki"
Include:
- How to push to Graylog
- How to debug things in Graylog

[2019-01-31 18:52] aldenstpage opened #188 "Gauge quality of search results in automated tests"
We need a way to empirically evaluate the quality of our search results as we make changes to our [Elasticsearch queries](https://github.com/creativecommons/cccatalog-api/blob/master/cccatalog-api/cccatalog/api/controllers/search_controller.py).

This entails compiling some sample search data and ensuring that the right documents float to the top.

[2019-01-31 18:58] #185 closed

[2019-02-01 22:09] aldenstpage commented on #187
I added a wiki page here with the basics: https://wikijs.creativecommons.org/tech/web-it-sre/graylog

[2019-02-05 21:05] aldenstpage opened #189 "Enrich image detail logs with title, provider for usage feedback purposes"

[2019-02-06 15:18] aldenstpage opened #190 "Include `attribution` field in image detail page"
Right now, attribution in CC Search is implemented client side. To encourage proper attribution from other users, not just CC developers, we should embed the attribution inside of the API response.

[2019-02-07 16:52] aldenstpage opened #191 "Set up an SSL thumbnail proxy"
We cannot display images without HTTPS on the front end without compromising the SSL security of the website, which browsers nowadays will loudly complain about and spook our users. More importantly, [there is no excuse for using insecure HTTP in 2019.](https://https.cio.gov/everything/). This causes problems for us because some of the providers in our catalog have not bothered to set up HTTPS on

[2019-02-07 17:06] aldenstpage opened #192 "Usable `creator` search parameter"
Users of the API can filter by creator, but they have to include other keywords, limiting the usefulness of this feature. We should either intelligently reintroduce the `creator` field as a default search parameter, or allow users to make `creator` queries without filling in the `q` parameter.

While it seem reasonable to include the creator as a default search field, in practice I found that this

[2019-02-11 17:32] #187 closed

[2019-02-11 22:14] aldenstpage commented on #191
A preview is available in the development environment. https://ccsearch-dev.creativecommons.org/search?q=a&provider=brooklynmuseum&li=&lt=

I still need to set up a cache in S3 for the thumbnails.

[2019-02-13 00:34] janeatcc commented on #192
Since this is still in discussion, throwing my two cents in officially that we try searching across the creator field from approved providers only, e.g. creator field for all Met images.

[2019-02-13 20:14] aldenstpage commented on #192
Hi Jane, for now, I've implemented a `creator` special search parameter (as well as `tags` and `title`), which Breno can use to implement an advanced search box.

I think you're right that excluding social providers like Flickr and Behance could make this parameter usable; screen names aren't very useful search criteria. I can add this feature to the generic search path but still allow optional us

[2019-02-13 20:47] #192 closed

[2019-02-14 15:57] aldenstpage commented on #191
Implemented in v0.23.0

[2019-02-14 15:57] #191 closed

[2019-02-14 17:57] aldenstpage commented on #135
Fixed in #191; we proxy HTTP images through our own infrastructure now

[2019-02-14 17:57] #135 closed

[2019-02-20 19:12] aldenstpage opened #197 "MET returns incorrect response code and content type for all images"
[code]

That should return a `404 Not Found` or `301 Moved Permanently`, not `200 OK`. If you open the above link in your browser, you can see that the image is gone. The server can't delete the image preemptively when an incorrect status code is returned from the provider.

~I think that this type of issue could be averted by deleting all responses of type `text/html` during image validation.~ Al

[2019-02-20 21:25] aldenstpage opened #198 "Bad thumbnails in the MET dataset"
Lots of thumbnails from the MET have been moved or deleted recently.

https://ccsearch-dev.creativecommons.org/search?q=monet&provider=&li=&lt=&searchBy=creator

To solve this, we should proxy all MET images through our own thumbnail proxy.

[2019-02-22 16:54] aldenstpage commented on #197
It seems like the `Content-Type` header is set to `text/html` for all images, not just 404s. This breaks the image proxy.

[2019-02-22 20:24] mmoreshead opened #201 "\xe9 appearing in result titles and/or creators"
See this result: https://ccsearch.creativecommons.org/photos/d1fa32e1-be78-4f22-8775-6177c9420450

Creator is: Jos\xe9 Guadalupe Posada  which I suspect is likely supposed to be José,

Browser: Firefox 65.0.1

[2019-02-22 20:51] aldenstpage commented on #201
I don't think it's an API issue. It seems like the literal escape characters are stored in our database.

[code]

Django REST Framework > version 3 also renders unicode in JSON responses automatically; we're on version 3.8.

I inserted the title "José" on a test record on my local machine; it renders correctly.
[code]

[2019-02-22 21:18] aldenstpage commented on #201
I think the escape characters are most likely introduced [here](https://github.com/creativecommons/cccatalog/blob/master/src/providers/api/clevelandmuseum/ClevelandMuseum.py#L39). `cccatalog` requires Python 2.7, which defaults to ascii, not utf-8. There's a call to `write` without a call to `encode('utf8')`.

[2019-02-22 21:20] kgodey commented on #201
@aldenstpage that makes sense, I'll move the issue to the `cccatalog` repo. Would it be possible for you to detect and update uses of escape characters in the existing API database and cache or is that better done on @sclachar's end?

[2019-02-22 21:30] aldenstpage commented on #201
It'll have to be fixed in the `cccatalog` scripts or else the characters may reappear in future imports (@sclachar, please correct me if I'm wrong). @sclachar traditionally is the only person who makes modifications to the upstream/intermediary database; it has to be changed there and then re-ingested in the API.

It's possible that the unicode characters are introduced somewhere between saving th

[2019-02-25 13:50] chicocvenancio opened #202 "License type filters work with an "or" logic"
Right now it seems it is imposible to filter for licenses that allow both commercial use and modifications.  https://ccsearch.creativecommons.org/search?q=nature&provider=&li=&lt=commercial,modification&searchBy

Will show images that licenses allow either commercial use **or** modification.

Not sure if this logic would also apply to the other two categories `all` and `all-cc` but perhaps there s

[2019-02-25 17:24] aldenstpage commented on #198
It was not possible to route MET images through our thumbnail proxy due to [MET servers returning the incorrect content type](https://github.com/creativecommons/cccatalog-api/issues/197). Imageproxy's underlying `image` library fails to process images if the content type is incorrect.

We can either fork willnorris/imageproxy and customize it to assume content types or wait for the MET to get back

[2019-02-26 16:59] brenoferreira opened #204 "Search results matching full string when search term contains double quotes"
When searching, for example, [for creator "Claude Monet"](https://ccsearch.creativecommons.org/search?q=%22Claude%20Monet%22&searchBy=creator), many of the results are from creators named "Claude <something>".

It would be better if the search term has double quotes, the search is performed matching the full search term string.

In the example above, the results would contain only images with the

[2019-02-26 17:23] janeatcc commented on #204
Yes, intuitively it makes sense for user to expect Claude AND Monet to be contained in search results for creator.

[2019-02-26 17:45] kgodey commented on #204
Adding this to the current sprint since it affects the search experience and should be easy to fix.

[2019-02-27 15:11] #164 closed

[2019-02-27 16:31] aldenstpage opened #205 "Implement browse by collection/provider"
Implement endpoint for browsing by collection, e.g. `/{provider_name}?page=2&pagesize=20`.

[2019-02-27 16:34] aldenstpage commented on #202
This will be fixed in tomorrow's release. Thanks for spotting this!

[2019-02-27 16:52] aldenstpage opened #206 "Implement API key authorization and throttling"

[2019-02-27 16:53] aldenstpage opened #207 "Expose `attribution` field in image detail endpoint"

[2019-02-27 17:20] aldenstpage opened #208 "Experiment with `creator` field in default search path"

[2019-02-27 17:51] aldenstpage opened #209 "Produce polaroid watermark on the backend"
Produce a polaroid-style watermark on an image including details about attribution. Preserve EXIF metadata inside of the image.

An example call could be `/watermark/{image identifier}?embed_attribution=True`. The response would be an HTTP payload containing the image data.

[2019-02-27 19:49] aldenstpage commented on #204
I'm going to add support for [Lucene-style searches](https://lucene.apache.org/core/2_9_4/queryparsersyntax.html#Wildcard%20Searches) to api-dev tomorrow.

[2019-02-27 20:18] janeatcc commented on #205
We didn't actually decide this yet, did we? Given our API strategy...

[2019-02-27 22:05] aldenstpage commented on #205
It's in the list of items we committed to in the sprint. Like the search end point, it will be rate limited to prevent abuse. We can also expose just the first 10,000 works through this API to prevent copying everything. That way, users can still browse to their heart's content (barely anybody/nobody needs more than 100 pages of results) without effectively providing a dump of the entire database

[2019-02-27 22:09] janeatcc commented on #205
Ok I like the idea of employing both.

The rate limit would be a technical limit, as would be exposing only the first 10,000 works. Since we're exposing that through our own use of the API, though, the TOS on the API might not cover the end user. Is that a correct reading?

cc: @sarahpearson -- let's discuss which terms (API or general on CC search) would cover this

[2019-02-27 22:32] kgodey commented on #205
this discussion was moved to Slack, we'll post an update here once we decide on a course of action.

[2019-02-27 23:58] alirizwi commented on #112
@aldenstpage I want to work on this issue. Can you guide me how to proceed with this?

[2019-02-28 18:16] janeatcc commented on #205
let's take this off active sprint. there are additional reasons not to do this that we need to discuss.

[2019-02-28 23:44] VIGS25 commented on #112
@alirizwi: I am actually working on this right now.

[2019-03-01 21:53] #202 closed

[2019-03-01 21:53] #204 closed

[2019-03-01 21:53] #207 closed

[2019-03-05 12:01] VIGS25 commented on #148
The feature in itself is not hard to implement, but how would a test be written for this part, since the `sample_data.csv` is quite small, and the performance gains won't be noticeable

[2019-03-07 20:58] aldenstpage opened #217 "Improve quality, maintainability, and coverage of ingestion server tests"
Currently, we have a big CSV file that we load sample data from. This works well as an end-to-end test of ingestion, but it's not so great for testing individual features, since it tightly couples the tests to the sample data. It has the added downside of requiring us to spin up a live version of `ingestion-server`, which is significant because it takes 30+ seconds to start Elasticsearch.

It woul

[2019-03-07 21:06] aldenstpage opened #218 "Fork willnorris/imageproxy so it can handle incorrect content types"
Some image providers do not correctly handle `content_type` headers or even correct status codes. This makes our lives as developers difficult because we cannot produce thumbnails or determine that the image has been moved/deleted. See #197 and #198 for details; this is especially a problem with the MET dataset.

To fix this, we should customize `willnorris/imageproxy` (ideally in a configurable a

[2019-03-07 21:12] aldenstpage opened #219 "Produce test harness for measuring the quality of search results"
We have some basic tests in place for determining that the image endpoint works, but few for measuring the objective quality of the results. Fixing this will entail compiling a small set of sample images and writing tests to perform searches against the test data set.

[2019-03-07 21:38] VIGS25 commented on #218
I'd like to work on this issue. Would the [willnorris-imageproxy](https://github.com/willnorris/imageproxy) be forked into a separate folder under cccatalog-api, and then we make changes to this folder, and change `docker-compose.yml` accordingly?

[2019-03-07 21:43] aldenstpage opened #220 "Document OAuth2 paths"
drf-yasg, our automated documentation generation tool, does not hook into any of the `/oauth2` endpoints (besides /oauth2/register, which was custom made by me). This is because the django-oauth-toolkit does not use API Views to implement them; they live outside of the Django Rest Framework.

Ideally, we could add some hook into drf-yasg that allows us to inject hand-written OpenAPI code so we can

[2019-03-08 17:50] dhruvkb opened #221 "Documentation missing an instruction, causing ES to not startup"
The current documentation omits an instruction `vm.max_map_count` which needs to be atleast set to 262144 by editing the `/etc/sysctl.conf` file. Without this the ElasticSearch Docker container fails to start and consequently so does the Django container.

[code]

Is this an issue with my computer only? Should we add this line to the setup instructions?

[2019-03-08 20:16] dhruvkb commented on #221
@kgodey If it could be confirmed that this issue occurs on other computers, I could solve it. It's a pretty simple issue with a well-defined solution.

[2019-03-08 20:23] dhruvkb opened #222 "Admin site unreachable because of missing packages"
The Django admin site (at `/admin`) cannot be opened currently. Visiting it yields an error in the `django-rest-framework-social-oauth2` package, which on further investigation narrows down to the absence of the `python-social-auth` package amongst other minor things.

Can this issue be verified so that I may submit a PR to fix this issue? This would allow us to access and utilise the Django admin

[2019-03-08 20:29] kgodey commented on #222
Tagging @aldenstpage to verify whether this is desirable.

[2019-03-08 20:30] kgodey commented on #221
Tagging @aldenstpage to verify this. @dhruvkb I know a couple of other students have set this project up locally, I'd recommend checking with them on Slack about this issue.

[2019-03-08 20:36] dhruvkb commented on #222
It's been fixed by @aldenstpage himself in 36d9eb2. He removed the `django-rest-framework-social-oauth2` package itself. I'll just close the issue.

[2019-03-08 20:36] #222 closed

[2019-03-08 20:43] dhruvkb opened #223 "Inconsistent pinning of packages in requirements.txt"
The `requirements.txt` file is in a bit of a disarray and can be benefited from a refresh. To elaborate, many packages listed at the bottom seem to be written by hand and are missing version numbers. A lot of sub-dependecies are also missing from the file. At the very least, the discrepancy between `pip freeze` and the `requirements.txt` file should be removed.

Furthermore since we intend on usin

[2019-03-08 21:59] VIGS25 commented on #221
I had the same issue as well, and using @dhruvkb's strategy was what I did too.

[2019-03-09 00:58] #209 closed

[2019-03-09 00:58] #206 closed

[2019-03-09 01:00] #190 closed

[2019-03-09 01:00] #112 closed

[2019-03-09 05:17] dhruvkb commented on #223
I'd like to work on this issue. Can I take this up?

[2019-03-09 18:58] avvinci opened #228 "Broken Image link in readme.md of Ingestion Server"
The image link of How ingestion works in readme.md of Ingestion server folder seems broken

[2019-03-11 09:06] catherinehoang commented on #217
Hi! I'd like to work on this

[2019-03-11 18:02] aldenstpage commented on #218
Since the ideal outcome is upstreaming, I'd recommend forking it into your own personal repository at first. I can reach out to Will Norris and see if he has any thoughts on this feature so we can make sure we design this in a way that would be likely to be merged.

[2019-03-12 16:34] #228 closed

[2019-03-12 18:52] kintawer opened #230 "Error in web_1 container"
Anyone can help me? I'm beginner in docker.
[code]

[2019-03-12 20:01] dhruvkb commented on #230
Can you confirm if your ElasticSearch container started up correctly? This error might indicate that ES did not start up due to insufficient map count. See issue #221 and PR #224 for a fix. That involves adding the line
[code]
to your `/etc/sysctl.conf` file and then rebooting your machine.

[2019-03-12 20:14] aldenstpage commented on #230
Please [join us on Slack](https://slack-signup.creativecommons.org/) in the #cc-gsoc channel if you are having problems getting started. I'm going to close this issue since it's not a bug.

[2019-03-12 20:14] #230 closed

[2019-03-13 14:05] aldenstpage opened #231 "Disable /list endpoints"
The list endpoints are being retired because they aren't very useful in their current state, mostly due to the decision to implement them anonymously.

[2019-03-13 14:06] aldenstpage opened #232 "Preserve metadata in watermarked images"
We need to preserve EXIF metadata and (maybe?) add [ccREL](https://www.w3.org/Submission/ccREL/) properties to it.

[2019-03-13 14:28] aldenstpage commented on #232
@kgodey @janeatcc Will we only be preserving EXIF metadata, or should we be adding attribution metadata as well?

[2019-03-13 16:11] #231 closed

[2019-03-13 16:37] brenoferreira opened #234 "Line break attribution in watermarked images"
The watermark text today, if it's long enough, can exceed the width of the image and end up being cut off in the middle.
There should be a way to wrap the text around the image bounds and do line breaks if necessary.

[2019-03-13 16:39] brenoferreira opened #235 "Adjust attribution font size for different image resolutions"
For images with very high resolution, the attribution text can end up looking too small (eg: [here](https://api-dev.creativecommons.engineering/watermark/26fc5746-4731-4540-9412-d0e363373f03)), so we should adjust the font size depending on the image resolution.

[2019-03-13 17:11] aldenstpage commented on #221
The README has been updated with some additional detail on troubleshooting Elasticsearch

[2019-03-13 17:11] #221 closed

[2019-03-13 17:41] kgodey commented on #232
I think adding ccREL data would be great.

[2019-03-13 19:25] janeatcc opened #245 "flora-on.pt links broken"
see https://ccsearch.creativecommons.org/search?q=galium&provider=floraon&li=&lt=&searchBy

[2019-03-13 21:34] janeatcc commented on #232
We are preserving all existing metadata (we can't strip it out) and adding ccREL into the exif extension field.. whatever our standard is. :)

[2019-03-13 22:43] janeatcc commented on #232
This is the extension for XMP: https://wiki.creativecommons.org/wiki/XMP

[2019-03-14 16:31] aldenstpage opened #236 "Wrong font used in watermark endpoint"
We should be using Source Sans Bold instead of Dejavu.

[2019-03-14 16:42] #236 closed

[2019-03-14 16:47] aldenstpage commented on #217
Hi @catherinehoang, that's great! I added the `in progress` to indicate you've claimed the issue.

[2019-03-14 18:12] catherinehoang commented on #217
@aldenstpage Just to clarify, do you want the new tests to test the same functionalities that are currently tested in integration_tests.py? Or are there specific features you would like tested?

[2019-03-14 18:44] janeatcc opened #238 "improving search results"
This is more of a general issue around improving search results. For example, it is really difficult for me to replicate any search result for London Natural History Museum, even if I use terms from the title and page of where this image exists under CC0 on the platform: http://data.nhm.ac.uk/dataset/collection-specimens/resource/05ff2255-c38a-40c9-b657-4ccb55ab2feb/record/8304314.

This could b/c

[2019-03-14 18:44] kgodey commented on #238
done

[2019-03-14 19:46] aldenstpage opened #240 "Comply with contribution guidelines on wiki"
https://wikijs.creativecommons.org/tech/github-repo-guidelines

[2019-03-14 20:25] aldenstpage commented on #238
We only have 170 images from nhm.ac.uk. These were collected by Liza back in the exploratory phase of the prototype so the data set from this provider is not complete. As far as I know, we don't have plans to index content from here (@sclachar can confirm)

Please either transfer this to `cccatalog` or close the issue

[2019-03-14 20:29] aldenstpage commented on #238
(side note: a commit I made referenced this issue in error; please ignore it)

[2019-03-15 14:38] janeatcc commented on #238
Ok.. can someone transfer the issue to cccatalog? I don't have permissions, haha

[2019-03-15 14:46] kgodey commented on #238
@janeatcc do we want to index nhm.ac.uk? otherwise we should just close this issue.

[2019-03-15 17:48] dhruvkb commented on #234
@brenoferreira can you show some examples of this issue in action? I'd like to work on this and would need more context to better understand the issue.

[2019-03-16 18:03] dhruvkb commented on #240
@aldenstpage how can one register on the wiki to read more? Is access to the wiki restricted to certain members of the organisation?

[2019-03-16 20:02] dhruvkb commented on #235
I'd like to work on this issue and am figuring out a way to do this in conjugation with #234.

@brenoferreira what is the ideal ratio you are expecting the attribution to be relative to the image dimensions? I think this would differ for landscape and portrait oriented images.

[2019-03-16 22:39] dhruvkb commented on #235
This is the thought I'm working on right now.
![image](https://i.imgur.com/eEmxikR.jpg)

If you could, kindly ignore the question in my previous comment, which I had asked in naïvety without thinking the problem through thoroughly, and help me with this new doubt. What value of w (image width) should I use as a breakpoint below which the attribution does not scale?

[2019-03-17 05:41] kgodey commented on #240
@dhruvkb that is our internal wiki and only open to CC staff. I will move the contribution guideline checklist to the public CC Open Source website when I have time.

[2019-03-18 17:21] aldenstpage opened #243 "Handle watermark=<bool> and embed_metadata=<bool> parameters in /watermark/{identifier}"
`watermark=<bool>` controls whether or not the frame and attribution text is included.

`embed_metadata=<bool>` controls whether ccREL and EXIF metadata is included in the download.

[2019-03-18 18:00] aldenstpage opened #244 "Data cleaning step in Ingestion Server"
Add a post-processing step after copying data from upstream. In this step, sweep the records to clean up tags, ensure UTF8 is rendered consistently, and ensure all URLs include a valid protocol

[2019-03-18 19:31] aldenstpage commented on #232
This will go out in the next API release

[2019-03-18 19:31] #232 closed

[2019-03-18 20:07] aldenstpage opened #246 "Fix ingestion job"
`DETAIL: Key (provider, md5(foreign_identifier::text))=(met, c0a7bf6b64746930564491917d749e48) is duplicated`

[2019-03-19 14:01] dhruvkb opened #247 "Watermark view cannot handle images that do not have EXIF data"
The utility function `watermark(image_url, image_info)` returns `watermarked, exif` where `exif` will be `None` if the image at the URL lacks EXIF data embedded in it.

This breaks down in the next line `exif_bytes = piexif.dump(exif)`

**To Reproduce**
Visit `/watermark/{identifier}` for an image without EXIF.

**Expected behavior**
The watermarked image should be returned without EXIF, like the

[2019-03-19 14:04] dhruvkb commented on #247
I could open a PR with this but it is bound to conflict with a PR towards the resolution #243. This being a rather minor change, could also be worked on in conjunction with issue #243, if @aldenstpage so wishes. This is also affecting the testing of PR #242.

[2019-03-19 17:07] aldenstpage opened #248 "ccREL XMP Python library"
A number of years ago, CC worked with W3C to create the Creative Commons Rights Expression Language (ccREL), which allows developers to embed metadata about licensing inside of webpages and files. To embed the metadata in files such as photographs or PDFs, the recommended approach is to use XMP (Extensible Metadata Platform), an XML based metadata language. This format is aging (although Adobe wil

[2019-03-19 20:50] janeatcc opened #250 "Allow for two different markers of CCrel metadata in watermark"
One is the normal one that is downloaded that we're setting up now

Two is with some additional code that indicates that user has opted in to provide more information about how they have reused the work. It can be a tracking code or something of that ilk. Not sure. Let's discuss how to do this!

We'll need this before we ship to production.

[2019-03-21 14:59] aldenstpage commented on #247
Fixed in #252

[2019-03-21 14:59] #247 closed

[2019-03-21 18:53] aldenstpage commented on #217
@catherinehoang Sorry for the long delay, we are really busy! There are some new features that could use some unit tests, namely those defined in PR #244. We filter out some tags by name and fix malformed URLs. Some of these cases are not covered by the sample data.

After reflecting more on this ticket, I think that it will be very difficult to accurately mock features of the ingestion server bec

[2019-03-21 19:10] aldenstpage commented on #253
Thanks! We have a tag blacklist now, so we'll be able to eliminate these tags.

[2019-03-21 20:38] #243 closed

[2019-03-22 15:21] aldenstpage commented on #250
Jane and I discussed this offline. We're going to hold off on adding consent metadata fields until we've put together a practical strategy for tracking reuse of works out in the wild.

[2019-03-22 15:23] #246 closed

[2019-03-22 15:25] aldenstpage commented on #246
Removed this constraint downstream. Works are de-duplicated upstream so there is no need to check it after ingestion.

This particular constraint violation was from HTTP + HTTPS versions of identical MET images being ingested.

[2019-03-22 18:45] dhruvkb commented on #235
This issue has been fixed with #252. Please consider closing @aldenstpage and @brenoferreira.

[2019-03-22 18:46] dhruvkb commented on #234
@brenoferreira and @aldenstpage, this issue has been resolved in #252 and should be closed.

[2019-03-22 19:32] #234 closed

[2019-03-26 05:10] catherinehoang commented on #217
@aldenstpage No worries! I can definitely work on adding tests to the new features.

[2019-03-27 08:35] dhruvkb opened #256 "The image search API returns one less image per page given the pagesize"
**Describe the bug**
The image search view returns n-1 images when the query parameters include `pagesize=n`. This has been tested at

[code]

**Expected behavior**
For `pagesize=n`, n images should be returned.

[2019-03-27 20:43] ahmedkrmn commented on #256
I've also noticed this weird behavior though it's not consistent.
Sometimes in returns the exact `pagesize` as requested and sometimes it returns `n-1` pages as you say.

[2019-03-27 21:44] dhruvkb commented on #256
I tried to examine the view that performs the slicing and [the code written there](https://github.com/creativecommons/cccatalog-api/blob/274770a744c240e52c812650dd525a14798c6319/cccatalog-api/cccatalog/api/controllers/search_controller.py#L35) seems perfectly alright!

[code]

[2019-03-28 15:04] aldenstpage opened #257 "Validate emails provided in OAuth2 registration endpoint"
When a user registers for a key, it should not be valid until they have clicked a verification link in a confirmation email. In the current state without validation, it's easy for a user to hoard a bunch of keys using proxies, or even just registering every day for a week.

[2019-03-28 17:08] aldenstpage opened #258 "Treat multi-word searches as phrases by default"
For example, compare these two queries:

No quotation marks:
https://ccsearch.creativecommons.org/search?q=home%20office&provider=&li=&lt=&searchBy=

Quotation marks:
https://ccsearch.creativecommons.org/search?q=%22home%20office%22&provider&li&lt&searchBy

The first query returns results with really low relevance. It seems that instead of passing a user's phrase straight to the search query strin

[2019-04-03 16:21] KhalidRmb commented on #258
Hi @aldenstpage! I'm new to CC and I think I can do this one. So basically, in the preprocessing, we have to treat multi-word queries as a single phrase, unlike what's currently happening. May I work on this?

[2019-04-04 16:58] #244 closed

[2019-04-04 16:58] aldenstpage commented on #244
Closed since this was successfully executed in production recently

[2019-04-05 16:18] kgodey opened #261 "SLA documentation"

[2019-04-05 16:38] aldenstpage commented on #218
It turns out that the content type issue is due to us being blackholed by an overly aggressive firewall on the MET servers. There won't be any need to implement this change.

[2019-04-05 16:38] #218 closed

[2019-04-05 16:48] kgodey commented on #188
Duplicate of #219.

[2019-04-05 16:48] #188 closed

[2019-04-05 16:48] #235 closed

[2019-04-05 16:49] kgodey commented on #102
We don't have a good way to measure popularity, closing.

[2019-04-05 16:49] #102 closed

[2019-04-05 16:52] kgodey commented on #223
This is done.

[2019-04-05 16:52] #223 closed

[2019-04-05 16:53] #170 closed

[2019-04-05 16:54] #148 closed

[2019-04-05 17:11] kgodey commented on #217
Removing "in progress" tag since there has been no update for 7+ days.

[2019-04-05 19:54] aldenstpage opened #262 "CC proxy for image validation"
Our servers routinely send large numbers of requests to image servers to ensure that the images are still live. Some firewalls really hate this, and aggressively block us.

In order to identify ourselves as a "good" bot, we need to make sure all requests originate from a domain that we own, or at least from a static IP address. We can accomplish this by standing up a proxy for issuing image valida

[2019-04-09 00:32] ahmedkrmn opened #263 "view_count is always 0 or null"
**Describe the bug**
The `view_count` property of the returned image when searched through the `/image/{identifier}` API endpoint is always set to `0` when using the main API, and to `null` when using the development API.

I thought that this count is based on the number of API calls to this endpoint so I performed the request to the endpoint with the same ID a couple of times to see if it will in

[2019-04-10 14:37] aldenstpage opened #264 "Implement endpoint for processing bug reports from end users"
![Example request](https://i.imgur.com/QuXuklk.png)

Bugs should be forwarded to GitHub issues with a triage tag.

[2019-04-16 17:59] kgodey opened #265 "Move automated tests from Travis CI to GitHub Actions"
Per the decision in a previous engineering meeting.

[2019-04-17 18:35] janeatcc opened #267 "loading error when filtering by certain providers"
see attached that results from this search: https://ccsearch.creativecommons.org/search?q=natural%20history&provider=museumsvictoria&li=&lt=&searchBy

![museums victoria filter error](https://user-images.githubusercontent.com/6394777/56312404-e9b18700-6104-11e9-9d17-a55b006f9a21.png)

[2019-04-18 20:23] janeatcc opened #273 "search for anything under Museums Victoria returns zero results"
even if you search for specific terms from https://collections.museumvictoria.com.au/specimens/1045165

which should be under CC BY

e.g. try searching for "specimen" or "tiger" or anything.

[2019-04-18 20:29] janeatcc opened #271 "error fetching images from mccord museum"
![mccord museum error](https://user-images.githubusercontent.com/6394777/56389254-eccc7600-61dd-11e9-9cdf-2237c713fab6.png)

happens for every other search term I input

[2019-04-18 20:30] janeatcc opened #274 "search for relevant key terms under mccord museum returns no results"
e.g. see http://collections.musee-mccord.qc.ca/en/collection/artifacts/M977.51

I search for "red lake" which should return something but it doesn't https://ccsearch.creativecommons.org/search?q=red%20lake&provider=mccordmuseum&li=&lt=&searchBy

[2019-04-18 20:37] janeatcc opened #269 "search for any key term in flora-on returns zero results"
Search for any word on https://flora-on.pt/#/haXal

at https://ccsearch.creativecommons.org/search?q=vicia&provider=floraon&li=&lt=&searchBy

[2019-04-18 20:45] janeatcc opened #270 "relevant search term doesn't yield results for animal diversity web"
see https://animaldiversity.org/accounts/Chrysemys_picta/pictures/collections/contributors/steve_hinshaw/DSC_0534/

and https://ccsearch.creativecommons.org/search?q=turtle&provider=animaldiversity&li=&lt=&searchBy

[2019-04-19 05:09] dhruvkb commented on #265
I'd like to take this up, given some prior experience in this area (see creativecommons/cccatalog-frontend#294 solving creativecommons/cccatalog-frontend#283 :grin:).

However, the backend tests are significantly more complex compared to the frontend tests, so it'd be a nice challenge.

[2019-04-19 05:42] kgodey commented on #265
Go ahead!

[2019-04-19 16:05] aldenstpage commented on #197
It came down to problems caused by a very aggressive Incapsula policy. The MET fixed this after we contacted them.

[2019-04-19 16:05] #197 closed

[2019-04-19 16:06] #245 closed

[2019-04-19 16:14] #240 closed

[2019-04-19 16:56] janeatcc opened #272 "search for relevant key term on EOL returns zero results"
see https://eol.org/pages/491995

and https://ccsearch.creativecommons.org/search?q=octopus&provider=eol&li=&lt=&searchBy

[2019-04-19 17:41] kgodey opened #275 "Hide NYPL as a provider"
See: https://github.com/creativecommons/cccatalog-frontend/issues/312

[2019-04-19 17:41] mzeinstra commented on #253
The is not live yet I presume? Otherwise the issue is not resolved yet. See first result.

![image](https://user-images.githubusercontent.com/5627431/56436101-099aa380-62db-11e9-87d8-df045db23be1.png)

[2019-04-19 20:30] aldenstpage commented on #275
Done

[2019-04-19 20:30] #275 closed

[2019-04-19 20:47] janeatcc opened #277 "hide IHA holiday ads"
see https://github.com/creativecommons/cccatalog-frontend/issues/314

[2019-04-19 20:57] aldenstpage commented on #277
Done

[2019-04-19 20:57] #277 closed

[2019-04-21 12:53] dhruvkb commented on #265
So far I have managed to run linter tests to run on CircleCI using this [configuration file](https://github.com/dhruvkb/cccatalog-api/blob/6da7bfdd808deee45f26b82990a9c28a13db7ff6/.circleci/config.yml).
![image](https://user-images.githubusercontent.com/16580576/56470199-0c270580-6461-11e9-91dc-3a8e8e667517.png)

I am facing a dillemma on how to go about testing the actual services because the tes

[2019-04-22 16:34] aldenstpage commented on #253
A handful of works seem to have retained the CC0 tag, which is strange (there are ~36,000 fewer results now, at least). Some of the results also have "CC0" in the title, which is a problem because we cannot alter the title of a work. We could change the search index to filter out the title, but this will require making a new field (we need to preserve the original unaltered title in the search res

[2019-04-22 18:22] kgodey commented on #265
I'll defer to @aldenstpage

[2019-04-22 20:09] janeatcc commented on #253
I don't think we should be altering the title on the front end either, per our discussion today, fyi.

[2019-04-22 22:57] janeatcc commented on #205
Confirming this can go ahead, but as a feature for post-summit, and pending final review by myself and Sarah.

[2019-04-23 15:37] aldenstpage commented on #265
I did some research, and I think it will be quite cumbersome to port this with the `docker` executor. We are essentially running our integration test against a live instance of CC Search, which means our tests need access to low-level tools to detect when the system has fully started and to ingest and index sample image records. I believe preserving the existing setup in `machine` will provide the

[2019-04-23 17:14] aldenstpage opened #279 "Ingestion server needs a QA mode for dev testing"
Ingestion server is responsible for copying data from the upstream source (a PostgreSQL scraped from assorted APIs and Common Crawl) into the API database, cleaning the data, and then indexing it in Elasticsearch.

Right now, the server copies all 300 million records. This poses a problem for us because our development environment can only support maybe 20 million records (as we are running it on

[2019-04-23 17:39] dhruvkb commented on #265
Okay @aldenstpage, I'll write the tests using the `machine` executor.

[2019-04-23 18:49] janeatcc opened #280 "no data result for Museums Victoria filter when it says 170 photos are avail"
https://ccsearch.creativecommons.org/search?q=vase&provider=museumsvictoria&li=&lt=&searchBy

![museums victoria bug](https://user-images.githubusercontent.com/6394777/56607608-d21f4600-65bd-11e9-96fe-1dde2c5c090f.png)

[2019-04-24 11:37] sclachar commented on #277
Hidden from the content provider table in prod.

[2019-04-24 16:56] aldenstpage commented on #270
Fixed

[2019-04-24 16:56] #270 closed

[2019-04-24 16:57] aldenstpage commented on #269
Fixed

[2019-04-24 16:57] #269 closed

[2019-04-24 17:08] aldenstpage commented on #272
The EOL images are no good, none of them render in my browser. Because the images are broken, they are hidden from the search results automatically by broken link filtering.

Try some of the URLs listed [here](http://api.creativecommons.engineering/image/search?q=octopus&provider=eol&filter_dead=False) for examples. I'm going to hand this off to @sclachar.

[2019-04-24 17:09] aldenstpage commented on #273
Duplicate of #280

[2019-04-24 17:09] #273 closed

[2019-04-24 17:37] aldenstpage commented on #280
The problem is that the thumbnails for this particular provider don't have a protocol specified, which makes it impossible to validate that the image exists (at least without doubling the amount of requests we send to providers where this edge case applied). I'm going to adjust our ingestion scripts to cleanup the thumbnail field as well. This will be fixed next time we re-ingest the data - it wil

[2019-04-24 18:21] aldenstpage commented on #271
Animal Diversity is fixed. McCord is covered in #274, so I'm closing this as a duplicate.

[2019-04-24 18:21] #271 closed

[2019-04-24 18:22] aldenstpage commented on #267
This is a duplicate of #280

[2019-04-24 18:22] #267 closed

[2019-04-24 18:46] aldenstpage commented on #274
This issue is a little bit different than the other recent bugs you filed. There are two problems:
1) McCord does not support HTTPS.
2) McCord thumbnails do not have any protocol in the URL. See [here](http://api.creativecommons.engineering/image/search?q=natural%20history&provider=museumsvictoria&filter_dead=False) examples.
3) When protocols are missing, we presume HTTPS is supported and append

[2019-04-24 23:17] kgodey commented on #274
I assume by "upstream database" you mean the catalog database (and not the API database). I'm wary of transforming data in the catalog database since we're only supposed to be storing data that we get directly from providers but I don't think it would cause any harm to do so in the case.

I think the better solution might be to default to `http://` when no protocol is specified because that will a

[2019-04-25 14:02] sclachar commented on #274
@kgodey the mappings can be inferred from the content provider table

[2019-04-25 17:00] janeatcc opened #287 "Hide Mcccord on front end for now if issue isn't resolved in time"
See https://github.com/creativecommons/cccatalog-api/issues/274

if that isn't resolved in time for flip, please hide on front end:

/about
in search results
in provider drop-down

[2019-04-25 17:55] aldenstpage opened #282 "Handle inconsistent license casing properly in the API"
Sometimes, such as with the MET, the license is upper case, and other times it is lowercase. The API does not handle the difference gracefully; it expects everything to be upper case. This breaks the license filters for the MET.

[2019-04-25 21:23] kgodey opened #284 "Store work descriptions and use them as a component to find relevant search results"
- We only search based on title and tags right now, but providers often provide descriptions of images which may help with search result relevancy. We should store and use that data.
- Run A/B tests to determine success.

[2019-04-25 21:30] kgodey opened #285 "Implement PageRank-style algorithm to find best search results"
Info on PageRank algorithm: https://en.wikipedia.org/wiki/PageRank

We would need to use CommonCrawl data to see how many other pages link to the page to get data on the quality of the work (works that are linked to from more places are probably higher quality). We would then use this data in generating our search results.

This is a massive amount of work which will require several GitHub issues,

[2019-04-25 21:34] kgodey opened #286 "Create API endpoint for finding similar images"
The API endpoint should accept an image ID as input and provide a list of images that are similar to that image, probably using Elasticsearch's `more like this` query.

In CC Search, this feature can be used to improve the the "related images" list on the image detail page.

[2019-04-26 12:17] brenoferreira commented on #287
The response to the `https://api.creativecommons.engineering/statistics/image` API still includes the Mcccord museum

[2019-04-26 14:04] #287 closed

[2019-04-26 14:05] #282 closed

[2019-04-26 15:52] #258 closed

[2019-04-26 15:53] aldenstpage commented on #258
It ended up being a problem with our Elasticsearch query and index structure; there was no need to implement any special treatment for phrases.

[2019-04-27 02:22] kgodey opened #288 "Investigate use of the BM25 algorithm to search image titles"
The similarity algorithm used to search titles was switched from BM25 to boolean in https://github.com/creativecommons/cccatalog-api/pull/281 to avoid ranking repeated words in titles higher.

We should investigate switching back to BM25 and set the `k1` tuning value to a low value just for the title field.

See https://github.com/creativecommons/cccatalog-api/pull/281#pullrequestreview-230833576

[2019-04-29 12:47] brenoferreira opened #289 "CC0 license URL is broken on image details endpoint"
In the response to `https://api-dev.creativecommons.engineering/image/75abec02-d1db-4d5f-90ee-cece6c2491ba` the  `license_url` comes with the value `https://creativecommons.org/licenses/cc0/1.0/`.

It should be ` https://creativecommons.org/publicdomain/zero/1.0/`.

This is what's causing https://github.com/creativecommons/cccatalog-frontend/issues/345

[2019-04-29 16:28] #198 closed

[2019-04-29 16:31] aldenstpage commented on #289
I fixed this with a redirect

[2019-04-29 17:02] aldenstpage commented on #289
https://creativecommons.org/licenses/cc0/1.0/ redirects to /publicdomain/zero/1.0 now. There was a rule for this already for /licenses/CC0/1.0/ already, but it wasn't case sensitive.

[2019-04-29 17:02] #289 closed

[2019-04-30 14:03] aldenstpage commented on #280
The thumbnails weren't the only issue. The images are still filtered because they are a little bit slow to respond to image validation and time out. We have a 200ms timeout before we assume that the images are broken. Because Museums Victoria servers are hosted in Australia, it can take more than a second for a response to come back to our servers in North America.

We can raise the timeout, but i

[2019-05-01 15:12] nishantsethi opened #427 "Auto correct feature in CC Search"
As the CC Search has just got out of beta and is now public, there should be an autocorrect option so that if a user has by chance entered the spelling of a word wrong, an option to correct it, could be displayed.

For now, a dictionary can be made(js or any other language) and the text can be checked for errors before sending the API request.

The output of the auto correct could be something lik

[2019-05-01 16:27] janeatcc opened #290 "API is not returning CAPL"

[2019-05-01 16:27] janeatcc opened #292 "API is not returning CAPL"

[2019-05-01 17:03] janeatcc opened #291 "search phrase relevance example"
Feedback from a user on search phrases that are no longer returning specific, relevant results. This is just an example for us to test. Defer to @aldenstpage on how!

[2019-05-01 17:35] aldenstpage commented on #291
Are you able to provide the full message from the user?

[2019-05-01 18:30] aldenstpage commented on #291
I'd suggest the user tries using advanced querying, such as "ontario AND bumblebee", or "ontario AND raptor" (no quotes), which will more explicitly narrow down their search.

Additionally, when I search "ontario bumblebee", the first image I see is a bumblebee with the tag "ontario". It seems like the ranking is working as expected.

[2019-05-01 18:32] #291 closed

[2019-05-01 18:39] aldenstpage commented on #290
It looks like there's no image data for this provider in the upstream database. Once we index some images with `capl` as the provider, it will show up in the about page.

I'm going to pass this off to Sophine.

[code]
[code]

[2019-05-01 19:04] janeatcc commented on #291
Leaving this closed but noting that this worked for the user. But I also added a note for adding advanced search tips to-do for front end on Teamweek.

[2019-05-01 20:18] aldenstpage commented on #292
Great! It's showing up now

[2019-05-01 20:18] #292 closed

[2019-05-01 21:35] janeatcc opened #293 "hide image on front end"
please hide https://search.creativecommons.org/photos/8fe608bc-23ea-4791-ac0e-13bab4bf5347

[2019-05-02 14:02] aldenstpage commented on #293
It's gone. We should set aside some time to develop an authenticated delete endpoint, removing it from 3 databases by hand will get time consuming as we get more takedowns.

[2019-05-02 14:02] #293 closed

[2019-05-02 16:18] kgodey opened #294 "Create endpoint for copyright takedowns"
Currently, responding to takedown requests is a manual and slow process; we should automate it.

Implement a `DELETE /image/{uuid}` call which removes an image from the API database and the search index, and sets the `removed_from_source=True` flag in the upstream catalog database.

The endpoint should accept a username and password to ensure the caller is authorized to perform the deletion.

[2019-05-07 15:17] jumpinvestor opened #298 "Has the pagesize URL param been deprecated?"
I'm using this URL to retrieve photos from the API:

https://api.creativecommons.engineering/image/search?q=beach&li=by,by-sa,cc0,pdm&page=1&pagesize=500

It works fine, with the exception of the "pagesize" param, which always only returns 20 results per page. I'd like to be able to return the max result set per request (500 from the docs) to cut down on the number of API calls.

Has this param be

[2019-05-09 13:24] mzeinstra opened #299 "Feature idea: Consider using oEmbed to make embedding even more simple"
oEmbed (https://oembed.com/) is a simple way to just copy/paste the URL of the page into your oEmbed ready tool to include image and proper attribution.

Is this on the roadmap?

[2019-05-20 17:09] #280 closed

[2019-05-20 17:13] aldenstpage commented on #298
Hi @jumpinvestor, `pagesize` works, but the server silently lowers the results to the default size (20) if the limit (499) is exceeded). Perhaps it would be better to throw a bad request error in this situation. Sorry about the slight delta between the docs and reality, I'll fix that.

[2019-05-21 14:56] #205 closed

[2019-05-21 15:07] #298 closed

[2019-05-21 18:08] kgodey opened #301 "Temporarily remove Flickr as a provider due to downtime."
Duration that it should be hidden for: ~6:30 PM EDT on 05-22 to ~9:00 AM EDT on 05-23.

This is due to the planned Flickr outage: https://blog.flickr.net/en/2019/05/08/planned-maintenance-and-flickr-downtime/

[2019-05-21 18:42] aldenstpage opened #302 "Integrate an incident management service into CC Catalog API"

[2019-05-23 17:18] #219 closed

[2019-05-30 15:51] #301 closed

[2019-05-30 16:41] #208 closed

[2019-05-30 17:00] kgodey opened #303 "Experiment with stemming and lemmatization algorithms"
- Measure the impact of different stemming and lemmatization algorithms on the relevance of search results.
- Run A/B tests to determine success.

[2019-05-30 17:29] aldenstpage commented on #284
The description, when available, is stored in the `metadata` field in the database. You can find some examples of this in the sample data. Implementing this would entail configuring Elasticsearch to store and analyze this field in `ingestion-server`, as well as updating `cccatalog-api` to query against this field.

[2019-06-05 21:46] janeatcc opened #305 "retrieve license icon embed data"
discuss how, and maybe set up a dashboard

[2019-06-05 23:32] kgodey commented on #305
moving this to internal tech support repo since this is not related to the API

[2019-06-06 11:44] borriglione opened #306 "Return image ratio or width/height"
I'm a developer of tutory.de and we currently experiment to implement the creativecommons search into our OER editor.

As we are working with a grid-based editor and image placement it would be really helpful to know the image ratio or image width & image height for a search result before the image is really fetched.

Width & height were provided by Wikipediasearch, Flickr, Openclipart and Pixabay

[2019-06-11 23:28] kgodey opened #308 "Publicly document search algorithm"
Also consider documenting the plan for improving the algorithm for feedback.

Potentially related to https://github.com/creativecommons/cccatalog-frontend/issues/376

[2019-06-13 14:13] #261 closed

[2019-06-13 18:06] aldenstpage commented on #286
This is in dev for testing now. Example:

The original image: https://api-dev.creativecommons.engineering/image/ba17ec25-6230-4c14-b9d7-e95f3197ff5f
The related results: https://api-dev.creativecommons.engineering/image/related/ba17ec25-6230-4c14-b9d7-e95f3197ff5f

[2019-06-13 19:52] #286 closed

[2019-06-14 16:31] aldenstpage commented on #302
I set up a Route 53 healthcheck and connected it to an integration in PagerDuty.

[2019-06-14 16:31] #302 closed

[2019-06-14 17:43] kgodey opened #311 "Create search result quality test cases"
- Decide on a set of search terms for us to evaluate changes to the search algorithms. These should be a combination of our top search terms and search terms that we have received critical user feedback about.
- Automate taking screenshots of this list of search terms so that we reduce manual QA work. New search terms should be able to be added easily.
- Mirror our production environment on ccsear

[2019-06-14 18:10] kgodey opened #312 "Experiment with manual provider weighing"
- Experiment with weighing providers differently in search results.
- Run A/B tests to determine success.

[2019-06-18 20:30] aldenstpage commented on #311
Edited and added "Mirror our production environment on ccsearch-dev"

[2019-06-21 00:51] aldenstpage opened #314 "Inconsistent number of results returned due to broken link filtering"
The API server filters out dead links from search results before returning the search response, which means even though the client requested 20 images, they might only get 10 results if half of the links in the result set are dead.

A reasonable fix might be buffering 2*`pagesize` results serverside before applying filtering, then taking the first `pagesize` remaining results. This will eliminate

[2019-06-27 18:12] aldenstpage commented on #311
Reopened while I dockerize this per @brenoferreira's request

[2019-06-29 00:10] kgodey opened #320 "Evaluate Wasabi and Sixpack to use for running A/B tests"
[Sixpack](https://github.com/sixpack/sixpack) and [Wasabi](https://github.com/intuit/wasabi) are API-driven A/B testing frameworks that should work for both frontend and API tests, as well as tests combining the two.

Evaluate both options for the following use cases:
- A combined frontend/backend experiment that allows the backend to send different search algorithms to each other and the frontend

[2019-06-29 00:16] kgodey opened #321 "Speed up data cleaning and search indexing process"
Data cleaning and indexing speed is becoming a barrier to iterating on the search algorithm. We should split the ingestion server into a bunch of workers.

Ideas discussed:
- Nomad cluster on AWS EC2 (note: running a cluster might be too much operational overhead)
- AWS ECS
- AWS EKS
- AWS SQS / Lambda (note: task may be too intensive for Lambda)
- Celery on AWS Elastic Beanstalk workers

@aldenst

[2019-07-11 22:41] kgodey commented on #311
Reopening this because the PR is not yet merged.

[2019-07-11 23:34] kgodey opened #322 "Search relevance improvements"

[2019-07-11 23:38] kgodey opened #323 "Q3 search relevance improvements"
This is an issue used for organizational purposes in Zenhub, please ignore it otherwise.

[2019-07-12 22:44] kgodey opened #324 "Create plan/spec for storing usage data from frontend"
We want to store the following data to measure changes in people are using CC Search over time and to measure behavioral changes in A/B test experiments.

No PII should be stored, user data should be fully anonymized. However, this should be integrated with our A/B testing infrastructure and we should be able to segment users based on any A/B tests they are a part of so that we can see how behavio

[2019-07-12 23:01] kgodey opened #325 "Implement A/B testing infrastructure"
Implement whatever infrastructure we decide on in #320.

[2019-07-12 23:08] kgodey opened #326 "Implement usage data backend"
See https://github.com/creativecommons/cccatalog-frontend/issues/426 for details.

[2019-07-17 06:44] rawpixel-vincent opened #327 "rawpixel catalog"
**Is your feature request related to a problem? Please describe.**
It's difficult to find the public domain images rawpixel produced.

**Describe the solution you'd like**
We would love to see rawpixel listed with others catalogs in this section https://search.creativecommons.org/collections

[2019-07-17 13:57] aldenstpage commented on #274
This is fixed now, see these [search results](https://ccsearch.creativecommons.org/search?q=red%20lake&provider=mccordmuseum&li=&lt=&searchBy).

[2019-07-17 13:58] #274 closed

[2019-07-17 14:08] sclachar commented on #327
@aldenstpage & @kgodey 👆

[2019-07-18 01:14] kgodey commented on #327
Moving this to the API repo since catalog work is done.

[2019-07-18 01:15] kgodey commented on #327
The catalog work is done here, we just need to add it to the API and frontend.

[2019-07-18 02:46] rawpixel-vincent commented on #327
Hi, thanks to take care of this, I noticed the list of providers here too https://search.creativecommons.org/about would be good to add rawpixel there too

[2019-07-18 16:19] aldenstpage commented on #327
rawpixel was hidden due to https://github.com/creativecommons/cccatalog-frontend/issues/395; it shows up in the about page and search results now

[2019-07-18 16:19] #327 closed

[2019-07-18 23:01] kgodey opened #328 "Experiment with usage of popularity data in search algorithm"
- Use popularity metrics from https://github.com/creativecommons/cccatalog/issues/161 to rank search results.
- Run A/B tests to determine success.

We have some test popularity data available for Behance, I'd like to implement ranking by popularity using that (or mock data if it's not extensive enough) so it's ready to go once the data is available for other collections.

The expected outcome is

[2019-07-18 23:02] kgodey opened #329 "Explore developing the OCR & object recognition stack for the images"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-18 23:02] kgodey opened #330 "Create a plan to run OCR & object recognition on all images"

[2019-07-18 23:18] kgodey opened #331 "Thumbnail caching"
This is an issue used for organizational purposes in Zenhub, please ignore it otherwise.

[2019-07-18 23:18] kgodey opened #332 "Create spec/plan for thumbnail caching"

[2019-07-18 23:19] kgodey opened #333 "CC Catalog API 1.0 release"
This is an issue used for organizational purposes in Zenhub, please ignore it otherwise.

[2019-07-18 23:21] kgodey opened #334 "Audit current API and ensure it conforms to best practices"
This task is to review the current CC Catalog API schema and suggest changes that would put the API more in line with best practices.

Best practice guides:
- [White House Web API Standards](https://github.com/WhiteHouse/api-standards)
- [Best Practices for a Pragmatic RESTful API](https://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api)

[2019-07-18 23:22] kgodey opened #335 "Build UI for API consumers to get their key and check their usage"

[2019-07-18 23:23] kgodey opened #336 "Research and update default API limits"

[2019-07-18 23:26] kgodey opened #341 "Create spec for CC Catalog Push API"

[2019-07-18 23:34] kgodey opened #337 "Expose geographical data associated with images in API"

[2019-07-18 23:35] kgodey opened #338 "Expose image file type in API"

[2019-07-18 23:36] kgodey opened #339 "Expose mature content flag data in API"
- Parse `mature={true|false}` from `meta_data` field in our database and set it as a field in Elasticsearch. Default to False if not defined.
- Add a `mature={true|false}` filter to the `/v1/images` endpoint

See https://github.com/creativecommons/cccatalog-frontend/issues/848 for implementation details.

[2019-07-18 23:38] kgodey opened #340 "Expose image type in API"
We'd like to expose in the API database, for each image record in the catalog, what type(s) of image it is. This will be added as a filter to the frontend for users to filter by.

Note that one record can have multiple image types, e.g. an SVG can be both a vector and an illustration. On the frontend, if a user selects more than one filter, it is "or", i.e. we show them results for images that mat

[2019-07-19 19:56] aldenstpage commented on #320
@kgodey @brenoferreira Having spent some time setting up both projects and doing some basic testing, my vote goes to Sixpack for being simpler to operate and having more or less the same feature set (but, in my opinion, a better UI than Wasabi).

Would it be helpful if I set up Sixpack in the test development environment?

[2019-07-19 21:36] kgodey commented on #320
My only other question is whether Sixpack has all the features you'd want from an A/B testing tool (for example, when conducting an experiment with two different search algorithm and comparing user behavior via [usage data](https://github.com/creativecommons/cccatalog-frontend/issues/426). We can evaluate commercial options or other frameworks if there's something major missing. If you're happy wi

[2019-07-19 21:49] kgodey opened #342 "Redeploy SSL gateway machine by July 22"
EC2 is stopping the instance due to underlying hardware degradation (see email)

[2019-07-22 13:52] aldenstpage commented on #342
I've redeployed the EC2 instance but can't point DNS to it until I gain Cloudflare access again

[2019-07-22 13:58] #342 closed

[2019-07-22 19:13] aldenstpage commented on #320
Sixpack is able to count either conversions or basic KPIs for each experiment, like "number of times the attribution button was clicked in experiment A vs B vs C", or "number of times the user performed an additional search in experiment A vs B". The problem is that we want to track a lot more than just clicks and views over time.

I don't think it will be possible to capture the richer search met

[2019-07-22 19:27] kgodey commented on #320
Sorry for being unclear; I think we should only have one or two KPIs that we track for each A/B test experiment and to only be running one or two experiments at any given time. I don't think it is a good idea to run A/B experiments per search term or search result, we're not going to get any useful or statistically significant data out of that.

Examples of what I do want to be able to do:
* Set u

[2019-07-22 19:59] aldenstpage commented on #320
Ah, OK. We could have a KPI for `search-rated` and `user-scrolled`. A high rating can be treated as a conversion. Same for a low scroll distance.

For the second example, we could have a `filter-design` experiment and treat clicks on the new filter as a conversion. (it's a toy example, I doubt we want to incentivize using some filters over others)

[2019-07-24 19:42] aldenstpage commented on #320
@kgodey @brenoferreira Sixpack is up and running in our development environment. Some information for getting started:

- The best documentation for using the Sixpack backend API is located [here](https://github.com/sixpack/sixpack).
- The Sixpack UI is accessible at https://sixpack.creativecommons.engineering (this will be secured before we go to production)
- Our sixpack API instance can be reac

[2019-07-25 17:41] #325 closed

[2019-07-25 18:50] kgodey opened #343 "Feature "contribute on GitHub" link in API docs"

[2019-07-25 19:57] kgodey commented on #337
Possible use case: searching for images of a specific disaster

[2019-07-27 04:45] #311 closed

[2019-07-27 04:47] kgodey commented on #320
Closing this issue because we decided on Sixpack.

[2019-07-27 04:47] #320 closed

[2019-07-31 19:07] aldenstpage commented on #321
The ingestion process is in need of a redesign, as it was conceived before we planned to implement a data standardization step. Rather than doing huge amounts of database IO on individual rows, we should dump the upstream database to a CSV, clean the data up, and only then load it into the upstream database. This should be doable in a reasonable period of time with one node.

The indexing step can

[2019-08-01 19:50] #326 closed

[2019-08-01 21:47] #284 closed

[2019-08-02 16:11] aldenstpage commented on #328
This is blocked until AWS supports Elasticsearch 7.x; we need the `rank_feature` field to implement this.

[2019-08-02 16:11] aldenstpage commented on #312
This is blocked until AWS supports Elasticsearch 7.x; we need the `rank_feature` field to implement this.

[2019-08-12 22:35] #341 closed

[2019-08-22 18:30] kgodey commented on #336
Done

[2019-08-22 18:30] #336 closed

[2019-08-22 18:30] kgodey commented on #189
Not necessary now that we have analytics/usage data.

[2019-08-22 18:30] #189 closed

[2019-08-22 19:18] aldenstpage commented on #312
7.x is generally available now so this is becoming a priority again

[2019-08-26 22:33] kgodey opened #351 "Thumbnail caching and image analysis"
This is an epic in ZenHub, used to organize tasks. Please ignore otherwise.

[2019-08-26 22:35] kgodey opened #352 "Compare open source image tagging libraries and run benchmarks"
Goals: Figure out how long it takes to process images for each library and compare accuracy of tags.

[2019-08-29 18:55] #263 closed

[2019-08-30 01:09] kgodey commented on #312
That all makes sense. Do you want to proceed with manual provider weighing or abandon it? It seems like the effort might be better spent on prioritizing individual image popularity.

[2019-09-03 17:34] aldenstpage opened #355 "Description field weighs duplicate words too heavily"
This is similar to an issue we had with titles; the `description` field should probably use boolean similarity instead of BM25. BM25 is more suitable for sifting through very long texts (like books) instead of brief metadata like ours.

Related issue: https://github.com/creativecommons/cccatalog-api/pull/281#pullrequestreview-230833576

[2019-09-03 20:55] aldenstpage commented on #332
This seems like it's fairly well fleshed out at this point, I'm going to close this issue.

![thumbnail proposal](https://i.imgur.com/yGzTyAo.png)

[2019-09-03 20:55] #332 closed

[2019-09-06 17:12] aldenstpage commented on #312
Let's close this for now. We can use it as one factor among several once we have additional quality metrics available.

[2019-09-06 17:12] #312 closed

[2019-09-06 17:13] #330 closed

[2019-09-09 17:06] #352 closed

[2019-09-13 20:12] kgodey opened #357 "Create group for API related emails to get sent to"
Currently, the API docs ask to email alden@ for help, we should set up a group that goes to you and me and use that as the email address instead for more redundancy and a shared record of API related requests. We should update the documentation to point to that group.

[2019-09-16 15:56] aldenstpage commented on #256
It's because we filter out broken links in the results. If you add `&filter_dead=False` to your query, you'll end up with the expected number of images. See #314.

In addition to having a process for clearing out a lot of the link rot, someone is working on addressing this issue. https://github.com/creativecommons/cccatalog-api/pull/358/

[2019-09-16 15:56] #256 closed

[2019-09-16 17:31] aldenstpage commented on #306
Hi @borriglione, we're going to implement this in the near term, but it will not be available 100% of the time since not all upstream sites provide resolution through their APIs.

In the future, we'll scrape and analyze every image in our catalog before indexing it.

[2019-09-16 19:37] #306 closed

[2019-09-16 19:38] aldenstpage commented on #306
You'll start seeing this data in production on Wednesday after we've reindexed our search results.

[2019-09-17 19:02] aldenstpage commented on #357
Created a group at https://groups.google.com/a/creativecommons.org/forum/#!forum/ccsearch-api

It'll be linked in the API docs

[2019-09-17 19:02] #357 closed

[2019-09-19 17:42] #257 closed

[2019-09-26 22:12] #314 closed

[2019-09-30 15:51] aldenstpage opened #363 "Server throws 500 error when invalid query syntax is entered"
If you enter an unclosed bracket or a bang without a token (ex https://api.creativecommons.engineering/image/search?q=bye! or https://api.creativecommons.engineering/image/search?q=bye]), the query will fail with a 500 error.

These are special characters for performing advanced searches. The user should receive feedback about why their query failed. Pass the `RequestError(400, 'search_phase_execu

[2019-09-30 20:57] Abhi-khandelwal commented on #363
@aldenstpage , Can I take this issue ?

[2019-09-30 21:21] aldenstpage commented on #363
@Abhi-khandelwal Of course!

[2019-10-01 16:50] #343 closed

[2019-10-04 17:52] aldenstpage commented on #220
The `/oauth2/register` endpoint tells users how to obtain a token with your credentials and include it in subsequent requests, I don't think it's necessary to explain any further. These oauth2 Django views don't hook into our documentation generator and it doesn't seem worth the effort.

[2019-10-04 17:52] #220 closed

[2019-10-04 18:12] aldenstpage commented on #328
We have some test popularity data available for Behance, I'd like to implement ranking by popularity using that (or mock data if it's not extensive enough) so it's ready to go once the data is available for other collections.

The expected outcome is that results from a provider will be influenced by popularity of results (likes, views, etc). Results with popularity data should not completely drow

[2019-10-07 19:16] krysal commented on #363
Hello, since has been no update in last 7 days, I would like to try resolve this issue.

[2019-10-08 19:26] aldenstpage commented on #363
Feel free to take a look!

[2019-10-10 06:18] ritesh-pandey commented on #363
@aldenstpage I have created a draft PR to understand if you wish to fix the issue in given manner. If draft looks okay, I would like to pick this up (only if we don't get response from @krysal )

I am new to Python to wanted to give it a try.

[2019-10-10 17:31] #338 closed

[2019-10-10 17:37] aldenstpage commented on #338
It was designed to accept one search parameter, so in your query the API was searching for images ending in .png,jpg. I've updated the extension filter so it interprets your query correctly, the results are in dev

[2019-10-10 20:17] aldenstpage commented on #340
Assigned to Kriti to flesh this out some more - agree on final medium tags and decide which provider fits which tag

[2019-10-10 20:59] aldenstpage opened #368 "Create a /license endpoint"
The endpoint should list every possible valid Creative Commons license. Each license in the response should have:

- The license version number
- The license URL
- The jurisdiction
- The language code

[code]
[code]

While we model licenses in a simple way in `licenses.py`, this is not sufficient for accurately listing all possible licenses. There are ~700 versions of licenses. The best way to get

[2019-10-10 21:10] aldenstpage opened #369 "INGEST_UPSTREAM API call hangs, breaking tests"
Ingestion Server is the component responsible for loading data from the catalog collection into the API and indexing the content into our search engine. It's kicked off by a call to a REST API.

`curl -XPOST localhost:8001/task -H "Content-Type: application/json" -d '{"model": "image", "action": "INGEST_UPSTREAM"}'`

When the command is received, the following takes place:
1. The data gets copied

[2019-10-11 00:12] krysal commented on #363
Seems like you solved this bug @ritesh-pandey so I think is okay if your PR is merged.

I would look around for another issue. @aldenstpage Do you suggest any other?

[2019-10-11 00:20] aldenstpage commented on #363
Hi Krystal, I followed up with you on Slack - I recommend #294, it's a bit meatier of an issue so I would recommend implementing the first half of it for now, as listed below (I can handle authorization and authentication). I'm going to put together a few more outreachy-friendly tickets tomorrow also if you'd prefer to wait for a different issue to become available.

[2019-10-11 13:59] Sando1 commented on #339
Hi I would like to work on this. Can you provide some description as to what I am supposed to so?

[2019-10-11 14:07] aldenstpage opened #370 "Include direct link to license in image detail response"

[2019-10-11 14:10] #363 closed

[2019-10-11 14:18] #370 closed

[2019-10-11 14:26] Sando1 commented on #355
Hi @aldenstpage! I would like to work on this.
Just to recheck my understanding, we want to start using a boolean value instead of the value by BM25 but keep the BM25 value as well?

[2019-10-11 14:39] aldenstpage commented on #339
I don't think this one is feasible to implement yet, we don't have any data indicating which works contain mature content, and generating that data is going to be a huge task.

[2019-10-11 16:27] aldenstpage commented on #355
We want the field to only use boolean similarity. See [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/similarity.html)

[2019-10-11 16:29] #142 closed

[2019-10-11 16:50] Sando1 commented on #355
Perfect. Thanks!

[2019-10-11 18:30] #355 closed

[2019-10-11 18:34] aldenstpage commented on #355
Thank you!

[2019-10-12 13:21] ritesh-pandey commented on #368
`images` table contains various combination of `license` and `license_version`. we need to expose them by `/license` endpoint.

@aldenstpage Did I understand the problem statement correctly?

[2019-10-12 21:15] krysal commented on #294
I would like to work on this.

[2019-10-15 02:20] krysal opened #372 "Improvement and/or update of README"
While I was setting my local environment I had to install [docker-compose](https://docs.docker.com/compose/install/) separately, I'm not sure if this is due to my specific OS (Debian 9) or always should be do it like this, and maybe this is trivial for people more experienced with docker containers but I think won't hurt if this is pointed previously in requeirments within the README.md.

Also I w

[2019-10-15 21:33] Sando1 commented on #264
Hi @aldenstpage! I would like to work on this.

[2019-10-18 16:30] annatuma commented on #303
Per discussion, the impact of changes to stemming and lemmatization algorithms are likely to be much smaller than e.g. those search relevance changes tied to popularity or usage data. We're therefore not moving forward with any changes.

[2019-10-18 16:30] #303 closed

[2019-10-18 16:40] #372 closed

[2019-10-18 16:54] annatuma opened #375 "Alter Search Rating Usage Data Storage"
Currently, we support storage of search rating usage data, with values from 1-5. We need to alter how we store search rating usage data to be a boolean value of True or False.

Example:

[code]

On the front-end, we'll gather this data with a question to users about the relevant of the search results, [see ticket 518] (https://github.com/creativecommons/cccatalog-frontend/issues/518).

[2019-10-18 19:40] aldenstpage opened #376 "Version the API via URL path"
e.g. `https://api.creativecommons.engineering/v2/. . .`

It should be kept in line with the semantic version. Right now we're in 0.x.x

Existing URL paths should be redirected to void breaking API clients. We should probably remove them at some point so that we don't have to maintain them (since we're still not at v1, I feel comfortable doing that)

[2019-10-21 18:24] aldenstpage commented on #294
Hi Krysal, go ahead!

[2019-10-25 17:21] aldenstpage commented on #294
Here's some additional background I gave on this issue on Slack:

In our system, we have three different datastores:

[code]

"Upstream" is a database where we collect the "raw" image metadata from the internet. Before it is loaded into the API/CC Search, we do some cleaning and then copy the whole thing into the downstream database. Then, finally, we index it in Elasticsearch. So to delete a work

[2019-10-30 17:11] aldenstpage opened #380 "Improve speed of cleanup process"
To load new data into the API database, Ingestion Server runs a weekly job that copies data from upstream, cleans the data, and then indexes it in Elasticsearch. Indexing is distributed and happens relatively quickly now, but cleanup takes a day or two. It would be nice if we could run the cleanup process in a shorter amount of time in order to facilitate faster development and feedback.

We shoul

[2019-10-30 17:12] aldenstpage commented on #321
The indexing step is parallelized now, but the cleanup step has not been changed. Rather than switching to CSV processing (which is not as fast as I'd hoped), I think it would be worthwhile to parallelize it across the indexing workers in a similar manner.

This issue is succeeded by https://github.com/creativecommons/cccatalog-api/issues/380

[2019-10-30 17:12] #321 closed

[2019-11-01 16:07] annatuma commented on #376
@aldenstpage please add more detail to the ticket before you start work on this. Added to the sprint that starts on Monday. Thanks!

[2019-11-01 16:31] annatuma commented on #253
@aldenstpage this is on your plate for the next sprint. We're starting this in "ticket work required", because a thorough review of the discussion, and an update to the description, should happen before work on this starts. Move to the appropriate pipeline once that is done.

[2019-11-01 20:37] kgodey commented on #376
Existing URL paths should be redirected to void breaking API clients. We should probably deprecate them at some point so that we don't have to maintain them (since we're still not at v1, I feel comfortable doing that).

[2019-11-06 20:54] aldenstpage opened #382 "Inconsisent casing in license field"
Most results have `license=cc0`. Some have `license=CC0`. It should always be lowercase for consistency.

Examples:
https://api.creativecommons.engineering/image/search?q=hello&li=CC0
https://api.creativecommons.engineering/image/49b31841-2e4a-477b-ba63-1504cc765f59

[2019-11-07 17:15] aldenstpage commented on #328
We have the capability to index popularity data now (see https://github.com/creativecommons/cccatalog-api/pull/381) but need some production-quality data to make further progress.

[2019-11-07 20:15] #375 closed

[2019-11-08 19:00] aldenstpage commented on #382
Fixed in next release. https://github.com/creativecommons/cccatalog-api/pull/381/commits/783bc6778d2f3486c61ff6e01ca3ae080767557b

[2019-11-08 19:00] #382 closed

[2019-11-08 23:13] annatuma opened #384 "Link to PDM License is Broken"
CC Search includes works that have the Public Domain Mark, such as:
https://search.creativecommons.org/photos/f798c858-a7af-4a3e-b2b7-a40a0a6780f5

The link to CC PDM 1.0, from both the Image Attribution and License section, goes here:
https://creativecommons.org/licenses/PDM/1.0/?ref=ccsearch&atype=rich

That's an Error page.

We believe those links should be updated to go here instead:
https://c

[2019-11-11 14:27] sarahpearson commented on #384
@annatuma That is, in fact, the deed for the Public Domain Mark.

[2019-11-11 17:56] #384 closed

[2019-11-11 18:11] aldenstpage commented on #384
Fixed in the latest production release

[2019-11-11 18:30] aldenstpage commented on #382
This is in production now, @makkoncept, let me know if you encounter any other similar issues

[2019-11-11 19:28] aldenstpage commented on #376
I've switched on URL path versioning. I don't think there's any more action to take since there aren't we aren't making any backwards-incompatible changes yet (the API still serves requests without a version string in the path). See commit https://github.com/creativecommons/cccatalog-api/commit/b5d0fecbbb342525d17ae70692f4868efb9bab16

See https://www.django-rest-framework.org/api-guide/versioning

[2019-11-11 19:28] #376 closed

[2019-11-12 13:15] krysal commented on #294
Task completed with points 2 and 3. Waiting for comments.

[2019-11-12 19:48] aldenstpage commented on #340
Based on our conversations in Slack, I've gathered that the intent is to use the image provider and file extension of an image to try to make a reasonable guess at what medium the image might be.

Unfortunately, this approach has some pitfalls that may limit its usefulness.
- A provider often has many types of images, meaning most providers will end up having very similar categories.
- Some provid

[2019-11-12 19:59] kgodey commented on #340
@aldenstpage I didn't think we would categorize all providers; just the ones that we're sure about. For example, I think we could categorize all Met images as digitized artworks, but I don't think we could categorize them as photographs or illustrations because we don't know that for sure.

So if someone filters by "photograph", they should only see images that we're sure are photos, even if it fi

[2019-11-12 20:05] aldenstpage commented on #340
That's a valid potential approach, although it's going to be a short list since most providers are mixed-medium. I think it would look like this:
[code]

[2019-11-13 00:14] kgodey commented on #340
Wouldn't other museums (e.g. CMA) also have the `DIGITIZED_ARTWORK` category? Also, PhyloPic would be `VECTOR` and `ILLUSTRATION`.

[2019-11-13 00:36] kgodey opened #387 "Add license URL to image search endpoint"
With the current version of the API, the image search API [0] can be used to get images, as well as all the information necessary for attribution for each image, except the URL with specific license information. To get that URL, an additional API request for the image details endpoint is necessary.

We should add the license URL to the image search API endpoint so that all information for attribut

[2019-11-13 20:47] aldenstpage commented on #340
I updated the category list in PR #386. It's indexing the changes now, you'll be able to try this feature out in dev tomorrow morning.

[2019-11-13 22:59] annatuma commented on #340
I want to make sure I understand properly.

As an example:

    'deviantart': [
        Category.PHOTOGRAPH, Category.DIGITIZED_ARTWORK, Category.ILLUSTRATION,
        Category.VECTOR

This means that if someone filters by photograph OR by digitized artwork OR by illustration OR by vector, they'll always be searching the entire Deviant Art collection? And since Deviant Art contains all of these, t

[2019-11-14 16:16] aldenstpage commented on #340
Yes @annatuma that's right. Here's the updated list:
[code]
There are still some design issues here. Illustration is exactly equivalent to vector, so we might as well remove it as an option. I don't think there are any data sources that we could tag as entirely illustrations. It would probably be better if this were data driven by the catalog instead of manually encoded into our search indexer, in

[2019-11-14 18:47] aldenstpage commented on #340
@brenoferreira fyi

[2019-11-14 22:28] #333 closed

[2019-11-14 22:28] #351 closed

[2019-11-14 22:29] #323 closed

[2019-11-15 01:03] kgodey commented on #334
***Note**: These suggestions involve breaking changes. If we decide to implement the suggestions, I suggest we keep our current running version as-is and make these changes in a new version of the API (v1). We can then set a date for when we will stop supporting the current version and notify API users and ask them to switch to v1 by then.*

----

### Principles
I think we should commit to stickin

[2019-11-15 01:04] kgodey commented on #334
I'm still evaluating the authentication APIs and will post here when I have thoughts on those.

[2019-11-15 13:01] brenoferreira commented on #334
# Query parameters

I prefer avoid using URL query parameters when a different URL endpoint can be used instead. For example:

Do you mean something like `/v1/images/?provider=met`?
Why not something like `v1/images/provider/met`?

Same with the related images example. I'd prefer `v1/images/<uuid>/related`

# Statistics endpoint

About the `statistics` endpoint, can we change that? When I read `st

[2019-11-15 14:28] brenoferreira commented on #340
Cool. I'll add this to this PR https://github.com/creativecommons/cccatalog-frontend/pull/533

[2019-11-15 16:58] annatuma opened #388 "Implement API updates described in #334"
### Versioning
All paths will be prefixed with `/v1/`. See 0.x.x support and sunset period.

### Use more RESTful URL paths

- [x] We should have a single `/v1/images/ `URL that encompasses all image operations. All image list operations should be handled by `/v1/images/` and all image detail operations should be handled by `/v1/images/<image_uuid>`
- [x] `/image/browse/{uuid}` should be replaced

[2019-11-15 16:59] annatuma commented on #388
A meeting to discuss suggestions made in the Audit ticket (https://github.com/creativecommons/cccatalog-api/issues/334) is needed before the description for this ticket can be written.

Kriti will write the description. Once this ticket is ready to be worked on, it will be implemented by Alden.

[2019-11-15 17:25] aldenstpage commented on #340
Pending indexing and deployment to prod

[2019-11-15 17:25] #340 closed

[2019-11-15 17:29] annatuma opened #389 "Support Ratio and Dimension-Based Filtering in API"
Relates to creativecommons/cccatalog-frontend#432 and creativecommons/cccatalog-frontend#537.

[2019-11-15 18:02] aldenstpage commented on #334
We already make use of hypermedia - see `"detail":` field in the search endpoint. I agree it would be nice to have a link to related images in the detail page though.

[2019-11-15 18:14] aldenstpage commented on #334
@kgodey,

We've warned downstream people about this on GitHub and through the semantic version.

[2019-11-18 17:35] aldenstpage commented on #334
After discussing this over the phone, it's clear that shutting off the 0.x version without a sunset period isn't an option, so we'll run it concurrently for the time being.

[2019-11-18 17:39] aldenstpage commented on #369
This seems like it only happens in `docker-compose`; it never happens in dev/production.

[2019-11-18 18:42] kgodey commented on #334
To add to what @aldenstpage said, we will work with known API consumers to make sure they transition to the new API ASAP and then shut off the 0.x version.

[2019-11-18 23:38] kgodey commented on #334
Responses to @brenoferreira

Breno and I discussed this on a call and concurred that `/v1/images/?provider=met` is a fine approach. We're still undecided on the structure of the related images URL, I think there's a reasonable argument to be made that "related" is not actually an intuitive filter since the API doesn't provide a list of images each image in related to. It's also reasonable that all

[2019-11-18 23:42] kgodey commented on #334
Response to @aldenstpage

The fields on the detail endpoint should not be any different from the image resource on the list endpoint (if my suggestion is implemented, anyway). So we should have the related image URL be present everywhere.

[2019-11-18 23:50] kgodey commented on #334
Re: authentication

It seems like the most RESTful way to sign up for a token is to have an endpoint like `/v1/auth_tokens/`, which would replace `register_api_oauth2`. It would function the same way, although I think we should also return `description` and `email` in the response.

Similarly, ` /oauth2/key_info` should be renamed `/v1/rate_limit/`, like [GitHub's API](https://developer.github.com

[2019-11-19 16:20] #387 closed

[2019-11-21 16:01] #389 closed

[2019-11-21 17:27] aldenstpage opened #393 "Feed attribution logs to analytics server"
We're able to get a rough idea of how often a work is given attribution in the wild by seeing how often our license SVGs get used and reading referral headers from server logs. This should be fed into our analytics API somehow for long-term storage.

No personal information will be stored; this will only allow us to track what domains have embedded CC Search attribution information (e.g. we will b

[2019-11-21 17:40] kgodey commented on #393
I think this would be good information to store, it might help our search algorithm.

[2019-11-21 17:47] aldenstpage commented on #393
We're not able to tell what work has been embedded based on the server logs, only that a work is present. We could dispatch a crawler and parse the HTML to find what was embedded, but that's out of scope for what we're doing here - additionally, plenty of the URLs require authentication to access (e.g. logging into a university course) so we don't have any visibility of which work is out there.

[2019-11-21 21:14] kgodey commented on #334
@aldenstpage and I talked and decided that we'd go with `/v1/recommendations/` for the related endpoint. This is RESTful and will also allow us to expand to mixed media recommendations without changing the URL in the future (whereas `/v1/images/<uuid>/related/` restricts us to images).

[2019-11-26 00:14] kgodey commented on #334
I'm going to close this since the audit is done. The spec and implementation will happen in #388.

[2019-11-26 21:32] aldenstpage commented on #388
I added a description to the ticket.

[2019-11-26 21:45] aldenstpage commented on #334
I turned this into a spec at #388. I omitted a few suggestions for the following reasons:

1. Changes to error handling; I'm with Breno, user-facing errors are a frontend concern.
2. We won't necessarily return a key when its value is `null`; this is dead weight in the response. Further, it's not universally agreed upon that you should include empty keys, so I'm not inclined to go through the trou

[2019-11-27 23:58] kgodey commented on #334
Looks good. Responses:

1. We should still update the error format to be standard in all cases (DRF has differing formats by default based on whether it is a "non field error" or not). We should also include a numerical error code (to identify the error easily; this is not the same as a HTTP status code) and developer message.

2. I am more persuaded by [this answer](https://stackoverflow.com/a/21

[2019-12-02 20:36] aldenstpage commented on #334
I incorporated (2) into the spec ticket. Sorry that my response with (3) was confusing; I rewrote it; please see the example there.

For (1), could you provide an example of an error that is not adequately communicated by status codes and the existing response body? For example, if a consumer specifies an invalid license type in their search parameters: https://api.creativecommons.engineering/imag

[2019-12-03 00:25] kgodey commented on #334
### Pagination
I think the pagination parameters you listed make sense.

Are we also going to be using a `page_size` parameter? If we are, I'd prefer to use `page_size` instead of the current `pagesize` because I think it's more readable/consistent.

### Error Handling

I agree that error codes add some bureaucracy. DRF has an option for a [custom exception handler](https://www.django-rest-framewo

[2019-12-03 18:31] aldenstpage commented on #334
I do see where you're coming from with DRF's nested errors, which are ugly and maybe unnecessarily difficult to parse compared to a flat message, but they do get the job of communicating problems to callers done, and I would caution that overriding the batteries-included system is going to involve extra effort in testing, documentation, and time to implement, when the existing implementation is su

[2019-12-03 20:24] brenoferreira commented on #334
As far as the errors are concerned, I think the HTTP status codes should be enough. We can send the `validation_error` on the response body with a more detailed error message in case of a `400 Bad Request` for example.

Our API is fairly simple, and not at all as complex as the Twitter and Stripe APIs for example, which have very complex validation systems and error handling. And keeping those err

[2019-12-03 22:57] kgodey commented on #334
#### Error Codes
Okay, those are good points. Let's not do error codes. If we decide to add them later, it would be an additive thing and wouldn't require any breaking changes anyway.

#### Nested vs. Flat Error Structure
I'm still on the fence about nested vs. flat errors, because changing the structure of the errors would be a breaking change and I think it would be good to get it right. @aldens

[2019-12-03 23:26] aldenstpage commented on #334
I'm happy to look into flattening the errors out, there's a good chance that DRF exposes those internals and that it won't be too difficult to implement.

That's correct

[2019-12-05 12:23] brenoferreira opened #397 "Some providers missing width and height image properties"
When using the search, browse and image details APIs, images for some providers have the properties `width` and `height` missing.  The list of providers and their browse endpoints are below:

https://api.creativecommons.engineering/image/browse/digitaltmuseum

https://api.creativecommons.engineering/image/browse/met

https://api.creativecommons.engineering/image/browse/behance

https://api.creativ

[2019-12-05 15:15] aldenstpage commented on #397
We don't know the dimensions of images unless they're exposed by the underlying API. After we scrape images for thumbnailing purposes, we should know the resolution everywhere.

[2019-12-05 21:18] annatuma commented on #294
@aldenstpage heads up, I'm moving this to the In Progress column for the upcoming sprint, so you can work with @krysal to close this out during the next sprint.

[2019-12-05 21:20] annatuma opened #398 "Plan out architecture for serving thumbnails"
Part of the AWS Imagine Grant.

[2019-12-05 22:06] annatuma commented on #279
Prioritizing this for Q1 2020, makes sense to get this testing infrastructure in order before we add additional content types.

[2019-12-05 22:09] annatuma commented on #285
This is on hold until we have more server resources. It'll be in the Parking Lot until we're ready.

[2019-12-05 22:31] annatuma commented on #337
We closed the equivalent ticket for the frontend. This isn't something we're going to prioritize in the near future. If we come back to it we'll start fresh.

[2019-12-05 22:31] #337 closed

[2019-12-06 16:33] aldenstpage commented on #253
We're filtering out these tags properly now. Of course, if a license shows up in the description or title field, it will still show up; users should use license filters instead to avoid that

[2019-12-06 16:33] #253 closed

[2019-12-12 10:06] mathemancer commented on #285
Out of curiosity, do we have a ballpark on how many edges there would be in the graph we'd want to analyze?  There are some extremely efficient PageRank implementations available, including at least two that come out-of-the-box with Spark

[2019-12-13 02:55] kgodey commented on #285
We haven't put any thought into this other than what's already here in the issue.

[2020-01-06 14:48] datbossg310 commented on #398
Thanks

[2020-01-06 14:49] datbossg310 commented on #398
Can i have my assets and money back.

[2020-01-13 16:52] aldenstpage opened #400 "Missing license_version breaks search views"
Some images don't have a `license_version` defined. These are problematic, because we need to know the exact license to link to for attribution purposes. The API always expects the license version to be present and views without it will crash when an incomplete entry is in the results.

We should address this in the data layer, either by filling in the missing data or by culling entries where the

[2020-01-13 20:07] annatuma commented on #400
Related: https://github.com/creativecommons/cccatalog-frontend/issues/299 (still planning to get the correct data from Science Museum).

[2020-01-13 22:32] aldenstpage opened #402 "Automatically clean up after failed indexing runs"
When an indexing job fails (such as if a node in our Elasticsearch cluster has a full disk, or a bug in indexer-worker halts the process), the incomplete index is left inside of the Elasticsearch cluster, requiring someone to manually delete it. The indexer should detect this condition when the job starts and handle it.

The production index is determined by the `image` alias. The indexer should d

[2020-01-14 16:43] #400 closed

[2020-01-17 16:37] #294 closed

[2020-01-17 17:56] #334 closed

[2020-01-17 18:31] aldenstpage opened #405 "Document error schemas"
In API v1, we override a lot of the default behavior for exceptions in Django REST Framework. The possible error responses should be clearly defined in our OpenAPI so consumers can anticipate the situations that they will arise. This should cover validation error and error 500s in particular.

See the `@swagger_auto_schema` decorator in `image_views.py` for an example of how this is done. The simp

[2020-01-17 18:47] #388 closed

[2020-01-20 06:47] ShraddhaAg commented on #405
Hi. I'm new to the community. Can I take this up? Thanks :)

[2020-01-20 17:32] whitel opened #407 "error on emoticon search"
## Describe the bug
A clear and concise description of what the bug is.

Because I am old, I still use emoticons (even if i do them backwards). Tried a search for ":/" (w/o quotes). I got an error.

## To Reproduce
Steps to reproduce the behavior:
1. Go to https://ccsearch.creativecommons.org/
2. Type in :/
3. Hit enter/search
4. See error

## Expected behavior
A clear and concise description of w

[2020-01-21 20:29] aldenstpage commented on #398
Just to be clear, I'm going to focus on exclusively on serving thumbnails (instead of producing and saving the thumbnails), since that's the scope of the ticket, and that part has already been described in the grant application.

Here's how I think it ought to be. The whole thing is going to be backed by a single private S3 bucket and an arbitrary number of reverse proxies in front of it. It has t

[2020-01-21 20:30] aldenstpage commented on #398
tagging @kgodey for feedback, you can close this issue when you're done reviewing it

[2020-01-21 21:44] aldenstpage opened #406 "Handle search phase execution exceptions gracefully"
Search phase execution exceptions throw an error 500, when they should instead raise an InputError.

[code]

[2020-01-21 22:02] HAKSOAT commented on #406
Hello @aldenstpage I am new here, but I'll like to help with this.

[2020-01-21 22:07] aldenstpage commented on #406
Feel free to take it on! I would like the end result to look something more like this:
Request: https://api-dev.creativecommons.engineering/v1/images?q=test&li=\[\]
Response:
[code]

Here's an example of the case we want to fix: https://api.creativecommons.engineering/v1/images?q=hello!
So, there would be a `detail`, a `field` (`q`), and an `error_type` (InputError), and the message would relay th

[2020-01-21 22:16] HAKSOAT commented on #406
Great. Thanks for the guidance.

[2020-01-22 14:56] aldenstpage commented on #407
Use quotes to perform searches with special characters (colons are a special character used in advanced searches). In this particular case, there aren't any CC licensed works in our collection that match that query.

[2020-01-22 14:56] #407 closed

[2020-01-22 14:58] aldenstpage opened #408 "Delete content with a 2.1 license"
"...we have determined we should remove the small number of objects in the catalog licensed under 2.1 version of the CC licenses. As we discussed, the only licenses with 2.1 versions are jurisdiction-specific ports, and we are unable to identify which specific port applies to each of those objects based on the data in our catalog. Since we can't display correct licensing information for these obje

[2020-01-22 21:06] aldenstpage commented on #405
Yes, please feel free to take it on.

[2020-01-22 23:18] annatuma commented on #288
@aldenstpage I'm putting this in Q2 of the backlog, given that there are other search algorithm improvements scheduled for then. Please evaluate if this is a fit for community contributions and if so, label it accordingly.

[2020-01-22 23:41] annatuma commented on #339
Related to https://github.com/creativecommons/cccatalog-frontend/issues/425

[2020-01-22 23:43] annatuma commented on #335
Tentatively slotted for Q3 in Roadmap. Design mockups from UCB student collaboration are a starting point here, when the time comes.

[2020-01-23 15:34] aldenstpage opened #410 "Query string parser is too strict"
Any time a user unknowingly introduces a special character without a match (e.g. a colon, or a closing bracket), their query will fail. We should switch to `simple_query_string` instead of `query_string`, per the Elasticsearch team's recommendation.

https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-simple-query-string-query.html

[2020-01-23 20:08] kgodey commented on #398
That seems solid, @aldenstpage, I don't have any feedback.

[2020-01-23 20:08] #398 closed

[2020-01-23 22:52] HAKSOAT commented on #406
I'm having issues setting up the environment, to even know if my code works. I'm using Docker Toolbox.

[2020-01-24 09:10] HAKSOAT commented on #406
I setup a VM and did the setup there. The environment works now, back on track.

[2020-01-24 16:25] annatuma opened #412 "Put AWS Architecture Documentation in Wiki (or at least links to documentation)"
Creative Commons received an [AWS Imagine grant](https://opensource.creativecommons.org/blog/entries/aws_grant/). We should document the proposal in the wiki.

It should include complete documentation, including from grant proposal and https://github.com/creativecommons/cccatalog-api/issues/398

[2020-01-24 16:28] annatuma opened #413 "Notify partners/API users that v1.0 is live"

[2020-01-24 16:29] annatuma opened #414 "Add standard deprecation message to v0 API responses"
Add a warning in all v0 API responses that suggests that users migrate to v1. We anticipate that we will be shutting down the API at the end of July. The shutdown date should be included in both the deprecation message and the API responses.

[2020-01-24 16:29] annatuma commented on #414
Also, don't forget to update the documentation accordingly.

[2020-01-24 16:37] annatuma opened #415 "Update how API serves License URL to frontend"
We need to update how the API serves the license URL to the frontend.

We are now (or about to) adding the License URL to metadata, instead of just license information. Therefore the API should (likely) serve that license URL when available, else continue to construct license URL based on license info (when URL not present in metadata).

Store the direct link to the license in `license_url` in the

[2020-01-24 16:37] annatuma commented on #415
@mathemancer and @aldenstpage to discuss and update description with exactly what/how we'll change things.

[2020-01-24 17:02] annatuma opened #416 "Implement internal thumbnailing"
The easiest way to do this is probably to beef up our existing thumbnail proxy (willnorris/imageproxy). Currently, we use it to ensure that every 3rd party image we display is SSL secured, but we could just proxy everything. It's also hooked up to an S3 cache already.

Resizing images dynamically is bandwidth and CPU expensive. I will have to do some testing to ensure this is feasible without inve

[2020-01-27 09:04] gauravahlawat81 commented on #410
Hey,can I take this issue ?

[2020-01-27 09:41] gauravahlawat81 commented on #410
`Starting cccatalog-api_db_1 ... error

ERROR: for cccatalog-api_db_1  Cannot start service db: driver failed programming external connectivity on endpoint cccatalog-api_db_1 (25c4c8e7e72ffc591d3a1bfb1cb3b3b2363c2e6b6e2392075a5bd29f74ae7005): Error starting userland proxy: listen tcp 0.0.0.0:5432: bind: address already in use

ERROR: for db  Cannot start service db: driver failed programming exter

[2020-01-27 10:02] gauravahlawat81 commented on #410
I just googled for this issue, Port 5432 is used by PostgresQL and Docker also was trying to use the same port. I don't have any errors as of now, sorry for troubling you.

[2020-01-27 15:37] aldenstpage commented on #415
This seems like a good way to solve the issue with international jurisdictions. I would propose that we add an optional `license_url` to the `meta_data` column just as the description says.

[2020-01-27 16:32] gauravahlawat81 commented on #410
By the way, can you tell me how can I reproduce this error ?

[2020-01-27 16:43] kgodey commented on #415
@aldenstpage please edit the ticket description to contain all details, then we can move to ready.

[2020-01-27 20:04] #406 closed

[2020-01-28 15:49] aldenstpage commented on #217
I'm going to close this issue since the Ingestion Server test coverage has improved (we have unit tests cleanup functions + other pre-indexing munging now), and because there are some issues in other areas that need to take priority.

[2020-01-28 15:49] #217 closed

[2020-01-28 22:26] HAKSOAT commented on #416
Can I get more information about this? I'll like to work on it

[2020-01-28 22:28] HAKSOAT commented on #368
Is this task still open? I see some work has been done.

[2020-01-29 15:37] aldenstpage commented on #410
Hi @gauravahlawat81, feel free to take a look. You can reproduce this error by using query string syntax incorrectly. For example, you can have a trailing exclamation point, or an unclosed bracket. The query "hello!" would trigger this error.

[2020-01-29 22:32] #415 closed

[2020-01-30 00:19] kgodey commented on #368
@HAKSOAT Yes, the previous pull request was never completed and this is still open. cc @aldenstpage

[2020-01-30 07:20] HAKSOAT commented on #368
Okay. I can pick it up. Any idea what caused the other PR to stall?

[2020-01-30 10:31] DantrazTrev commented on #414
Is this issue open for work ? if it is what shutdown date should be included?

[2020-01-31 18:48] #414 closed

[2020-01-31 23:30] kgodey commented on #368
@HAKSOAT great, I've marked as in progress. You can see the other PR here: https://github.com/creativecommons/cccatalog-api/pull/374

[2020-02-01 17:22] HAKSOAT commented on #368
Hello @kgodey I checked the PR, but it looks to me like it did the job as required. I'm wondering why it wasn't merged.

[2020-02-02 11:44] Gbahdeyboh commented on #368
I think an important part of this issue is not being paid attention to.
The issue states that... "The endpoint should list all **valid licenses** and versions in the catalog"

I hope this helps @HAKSOAT

[2020-02-02 11:48] Gbahdeyboh commented on #368
[https://creativecommons.org/use-remix/attribution/](https://creativecommons.org/use-remix/attribution/)

[2020-02-04 01:34] HAKSOAT commented on #368
Thanks @Gbahdeyboh . @kgodey I think I understand it better now and can work on it.

[2020-02-05 22:25] aldenstpage commented on #416
The easiest way to do this is probably to beef up our existing thumbnail proxy (willnorris/imageproxy). Currently, we use it to ensure that every 3rd party image we display is SSL secured, but we could just proxy everything. It's also hooked up to an S3 cache already.

Resizing images dynamically is bandwidth and CPU expensive. I will have to do some testing to ensure this is feasible without inve

[2020-02-05 22:30] kgodey commented on #416
Okay, sounds good @aldenstpage. Please update the architecture in the wiki internally.

[2020-02-05 23:39] madewithkode commented on #410
Hi @aldenstpage, it'd be nice to add the "in progress" label to this issue if truly @gauravahlawat81 is working on it, in order to avoid more interests on same issue.

[2020-02-06 03:48] gauravahlawat81 commented on #410
Hey, I am extremely sorry. I have my mid term exams coming up so I wouldn't be able to work on this issue. It's fine if someone else wants to take it.

[2020-02-06 17:59] madewithkode commented on #410
It's all good man, best of luck in your exams. I'd try to understand the
problem more to see if I'd work on it.

On Thu, Feb 6, 2020, 04:48 Gaurav Ahlawat <notifications@github.com> wrote:

[2020-02-11 15:50] #410 closed

[2020-02-11 19:42] aldenstpage opened #421 "Remove references to provider in /source endpoint"
In version 1.0 of the API, we intended to remove all references to "providers" and replace them with `source`. In `/v1/sources`, you can see that we missed a spot. Change `provider_name` and `provider_url` to `source_name` and `source_url` in the response for this endpoint.

For example, this is what the current result looks like:
[code]
This is what we want:

[code]

[2020-02-14 16:56] aldenstpage commented on #265
There's some activity on this issue here, but it needs some more work: https://github.com/creativecommons/cccatalog-api/pull/278

[2020-02-14 17:24] annatuma opened #424 "Re-enable Wikimedia Commons"

[2020-02-14 18:42] khyati-agarwalss commented on #421
Hi @aldenstpage
I would like to work on this issue.

[2020-02-17 08:15] anoited007 commented on #421
@khyati-agarwalss are you still working on this issue?

[2020-02-17 08:18] khyati-agarwalss commented on #421
Yes

[2020-02-17 08:19] anoited007 commented on #416
@kgodey  and @aldenstpage I am not fully aware of how the existing solution that needs to be beefed up works but this can be something that using AWS Lambda can also do since you have S3 bucket already. This takes the computation away from your actual servers plus you can use caching as well.

[2020-02-18 17:30] scheleon commented on #427
Well, we can keep separate dictionaries for different languages, then using the user's requested language provide suggestions.

[2020-02-18 19:57] kgodey commented on #427
@aldenstpage if this would be a good API endpoint, could you please define the ticket better for what the endpoint should look like and then open it up to the community?

[2020-02-20 15:45] aldenstpage commented on #424
We'll switch it back on next week once the data has been cleaned up.

[2020-02-20 18:34] aldenstpage opened #429 "Implement "did you mean. . ." corrections in /v1/images endpoint"
Return a `suggestions` field in queries to `/v1/images`.

Example request and response:
`GET /v1/images?dags`
[code]

The following modifications will need to be made:
- Update `search_controller` to use `suggesters`. See the [Elasticsearch documentation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-suggesters.html) for information on how this feature works.
- Update the

[2020-02-20 18:36] aldenstpage commented on #427
You're correct that this is best suited as an API endpoint. I've opened up a more detailed ticket here: https://github.com/creativecommons/cccatalog-api/issues/429

[2020-02-20 18:36] #427 closed

[2020-02-20 18:46] aldenstpage commented on #416
Lambda is one possible avenue, but we've avoided using it so far for a couple of reasons. The potential price and performance of this task on Lambda are not obvious to me, while those traits are much easier to anticipate when implemented serverside. There's also the question of portability of Lambda. Most importantly, I think it would be a lot more work to implement this particular task in Lambda

[2020-02-21 11:36] DantrazTrev commented on #421
Hey @khyati-agarwalss are you still working in this issue?

[2020-02-21 11:39] khyati-agarwalss commented on #421
No, you can proceed with it

[2020-02-21 11:52] DantrazTrev commented on #421
Hi @aldenstpage I've changed the name but only at the endpoint , does this issue requires internal var changes?

[2020-02-21 19:45] AyanChoudhary commented on #429
can I take up this issue?

[2020-02-21 20:04] #416 closed

[2020-02-21 20:45] kgodey commented on #429
@AyanChoudhary go ahead.

[2020-02-22 07:02] Vineet-Sharma29 commented on #405
@ShraddhaAg are you still working on this issue?

[2020-02-22 07:49] cristomathew commented on #421
is this issue still open if so can i start working on it?

[2020-02-22 08:32] ShraddhaAg commented on #405
@Vineet-Sharma29 feel free to take it up.

[2020-02-22 14:22] anoited007 commented on #149
@aldenstpage Can this be a good GSOC or Outreachy project since it has been left unattended for a while?

[2020-02-22 15:45] hedonhermdev commented on #299
Can I take up this issue? What exactly needs to be done?

[2020-02-22 17:02] DantrazTrev commented on #421
Hey @aldenstpage I've made the changes

[2020-02-22 20:40] hedonhermdev commented on #402
Can I work on this issue?

[2020-02-23 07:11] CodeMonk263 commented on #402
Can i work on this issue?

[2020-02-23 12:17] keshav2212 commented on #405
@Vineet-Sharma29 are you working on it ?

[2020-02-23 12:29] Vineet-Sharma29 commented on #405
@keshav2212 yes

[2020-02-23 21:56] Vineet-Sharma29 commented on #405
@aldenstpage Can you please give some guidance on this issue?

[2020-02-24 14:41] #421 closed

[2020-02-24 17:56] aldenstpage commented on #424
The Wikimedia data is visible in production again.

[2020-02-24 17:56] #424 closed

[2020-02-24 18:55] kgodey commented on #149
@anoited007 we do want to work on this, but since it involves access to our infrastructure, I don't think it's suitable for outside contribution.

[2020-02-24 19:49] muarachmann commented on #152
Hi @aldenstpage I would love to take on this.

[2020-02-24 21:07] kgodey commented on #402
@hedonhermdev go ahead. @CodeMonk263 please find another issue to work on since @hedonhermdev commented first.

[2020-02-24 21:08] kgodey commented on #299
@hedonhermdev I just assigned you another issue, please do that first.

We need to add more detail to this issue.

[2020-02-24 21:33] aldenstpage commented on #405
While the errors are handled already, they are not documented in our OpenAPI schema, meaning that downstream users of the API cannot predict what will happen if they put in bad input. I suggest inducing some of the errors enumerated in https://github.com/creativecommons/cccatalog-api/blob/master/cccatalog-api/cccatalog/api/serializers/image_serializers.py, for example, and then seeing if there is

[2020-02-25 16:52] #429 closed

[2020-02-26 05:06] Mahelaa opened #433 "dev build throwing CORS errors and blocks queries after a while"
## Describe the bug
Working on a feature for the cccatalog-frontend build on my local machine and a number of Cross-Origin Request Blocked errors appear. Search queries work fine for about a day and afterwards blocks all my requests. and therefore does not allow any search to go through. Search works fine on the main website https://ccsearch.creativecommons.org/ with no CORS errror.(concluding my

[2020-02-28 13:48] kss682 commented on #405
Hi, can I work on this issue , if it's still open

[2020-02-28 20:07] kgodey commented on #368
@HAKSOAT are you still working on this?

[2020-02-28 20:08] kgodey commented on #405
@Vineet-Sharma29 are you working on this?

[2020-02-28 20:14] kgodey commented on #149
This is a duplicate of https://github.com/creativecommons/ccsearch-infrastructure/issues/120. This belongs in the infrastructure repo anyway, so I'm closing this.

[2020-02-28 20:14] #149 closed

[2020-02-28 20:17] annatuma commented on #250
Closing this out, we did not move forward with watermarking images at download.

[2020-02-28 20:17] #250 closed

[2020-02-28 20:21] aldenstpage commented on #152
Hi @muarachmann, I suggest taking a look at a different issue. We don't have an immediate need for this performance improvement, and there are some nuances to this that may make it difficult for an external contributor to address.

[2020-02-28 20:26] #380 closed

[2020-02-28 20:30] aldenstpage commented on #380
Superseded by https://github.com/creativecommons/cccatalog/issues/301. We want to move this cleanup step out of the API ingestion layer entirely.

[2020-02-28 20:34] Vineet-Sharma29 commented on #405
@kgodey yes

[2020-02-28 21:08] #328 closed

[2020-02-28 21:08] aldenstpage commented on #328
To be superseded with a more up-to-date issue

[2020-02-28 21:17] aldenstpage commented on #433
This is a client-side issue; I recommend disabling CORS support in your browser while working with the search engine locally. There's a good guide for achieving that in Chrome [here](https://stackoverflow.com/questions/3102819/disable-same-origin-policy-in-chrome). Of course, you should leave CORS on for your normal browsing :)

[2020-02-28 21:17] #433 closed

[2020-02-28 22:28] annatuma commented on #299
@aldenstpage please flesh this ticket out, and then open it up to community contribution. We're putting it in the current sprint for ticket work.

[2020-02-29 04:34] kss682 commented on #279
Hi, Can I work on this issue .

[2020-02-29 14:25] DantrazTrev commented on #368
Hey is this issue still open?

[2020-02-29 14:31] Gbahdeyboh commented on #368
It currently isn't open to be worked on. It has a label `not ready for work`.

[2020-02-29 14:37] DantrazTrev commented on #402
@hedonhermdev are still working on this issue?

[2020-02-29 14:37] hedonhermdev commented on #402
No.

On Sat, 29 Feb 2020 at 8:07 PM, Dantraz <notifications@github.com> wrote:

[2020-02-29 14:40] DantrazTrev commented on #402
Can i take it over?

[2020-02-29 19:43] AyanChoudhary commented on #265
Can I work on this PR?

[2020-03-02 13:47] kss682 commented on #369
@aldenstpage @annatuma Can I work on this issue ?

[2020-03-02 21:58] aldenstpage commented on #265
Yes, please do. We've decided to go with GitHub actions instead of CircleCI, however.

[2020-03-03 12:02] DantrazTrev commented on #264
Hi @aldenstpage is this still open for work
?

[2020-03-03 15:56] kgodey commented on #402
Go ahead @DantrazTrev

[2020-03-03 17:11] aldenstpage commented on #369
Please do!

[2020-03-03 17:13] kss682 commented on #369
@aldenstpage  where can I asks queries about it , here or in slack.

[2020-03-03 22:29] Vineet-Sharma29 opened #436 "unused imports in codebase"
## Describe the bug
There are some unused import in the repo. For example, in `ccbot/scrapy-cluster-1.2.1/redis_monitor.py` there is unused import of `from redis_lock import AlreadyAcquired`. Similarly, in other apps also there are unused imports, which should be removed.

## Additional context

Would like to work on this issue. Can CC team approve and assign this to me?

[2020-03-03 22:37] Vineet-Sharma29 opened #437 "serializers defined in views inspite of having separate serailizers.py files"
## Describe the bug
In `link_views.py` and `list_views.py`, serializers `_LinkCreatedResponse` and `_CreateResponse` have been defined respectively. These two files can be refactored in such a way that the serializers are defined in their appropriate serializer file

## Additional context
Would like to work on this issue. Can CC team approve and assign this issue to me?

[2020-03-03 23:13] kgodey commented on #436
Go ahead.

[2020-03-03 23:14] kgodey commented on #437
@aldenstpage

[2020-03-03 23:41] kgodey opened #438 "Create GitHub workflow for adding issues and PRs to appropriate project"
## Problem Description
Currently, we need to manually add new issues to the [CC Search backlog GitHub project](https://github.com/orgs/creativecommons/projects/10). We'd like to automate this.

## Solution Description
Set up a GitHub workflow (using GitHub Actions) to
- automatically add new issues created in this repository to the [CC Search backlog GitHub project](https://github.com/orgs/creativ

[2020-03-04 05:35] Maxslide commented on #438
Hey, I woudl like to work on this issue.
The newly created issues in this repo must be moved to which column in the CC search backlog?

[2020-03-04 11:58] Vineet-Sharma29 commented on #436
Had some doubt. There are some unnecessary imports in `scrapy-cluster-1.2.1/`. Should I remove them too?

[2020-03-04 14:58] aldenstpage commented on #437
Those serializers are response stubs – they model responses for the documentation, which are generated by views. The decision to include them in the views was a conscious one.

[2020-03-04 14:58] #437 closed

[2020-03-04 15:00] aldenstpage commented on #436
From the README:

Maintaining this module is not a priority. Please choose from the list of already open issues.

[2020-03-04 15:15] kss682 commented on #369
@aldenstpage

[code]
 Is this the error in the logs while running docker compose up.

[2020-03-04 15:50] Maxslide commented on #438
Alright, I'll try and work on this and get it resolved

[2020-03-04 17:35] aldenstpage commented on #369
This is excellent, I didn't notice the worker timeout. That suggests that one of the endpoints in ingestion-server are hanging (see `api.py`). The next step is to figure out which endpoint it is that's timing out and why.

[2020-03-04 17:48] kss682 commented on #369
So I checked the logs again it seems that the time out is happening after indexing but before it could return worker_finished status .

[code]

[2020-03-04 18:59] kss682 commented on #369
@aldenstpage So I was looking at the logs and code , the /worker_finished api is called, this is where the timeout is occuring , state.py is waiting for the file lock to be acquired .
When no time out.
[code]

when there is timeout

[code]

[2020-03-04 19:57] Maxslide commented on #438
This seems to be a good solution to our probelms https://github.com/philschatz/project-bot

[2020-03-04 20:53] aldenstpage commented on #436
You can open a PR for it, improvements to live code are always welcome.

[2020-03-04 22:10] kgodey commented on #438
@Maxslide we want to set up a GitHub Action; we do not want alternate solutions. Please see this similar PR for an example: https://github.com/creativecommons/cccatalog-frontend/pull/710

The project automation you mentioned here does not work to add issues automatically to a project or to move them between project. It only works once the issue has been added to a project.

[2020-03-05 03:36] Maxslide commented on #438
I belive i cant check if it works, please check and ket me know if it is working, i have not added any column name as they have already been assigned as mentioned by you earlier

[2020-03-05 03:37] Maxslide commented on #438
https://github.com/creativecommons/cccatalog-api/issues/438#issuecomment-594798627
initially i was plannign to use this for the automation, but on seeing the reference PR you mentioned, i found that to be better and hence used that

[2020-03-05 13:32] muarachmann commented on #152
Hi @aldenstpage thanks for your reply, can you reference me to which issue i could easily pickup then :)

[2020-03-05 14:06] Maxslide commented on #438
Hey, i have sent a pull request, kinfly reveiw it

[2020-03-05 16:24] aldenstpage opened #442 "Test GitHub automation"
Test GitHub workflow automation implemented in https://github.com/creativecommons/cccatalog-api/pull/441

[2020-03-05 16:30] #442 closed

[2020-03-05 16:31] aldenstpage commented on #442
It didn't work

[2020-03-05 16:40] aldenstpage commented on #369
This seems like a separate problem; I haven't seen the timeout occur after indexing has completed. You might have some corrupt state. Try `docker-compose down -v` and then `docker-compose up --build` before running further tests. This cleans up databases and rebuilds the project. You should do this every time you do `git pull`.

[2020-03-05 17:04] aldenstpage commented on #438
I'm reopening this because we had to revert #441.

[2020-03-05 20:49] aldenstpage opened #444 "Hide the thumbnail proxy from end-users"
To generate our own thumbnails, we route images through a thumbnail proxy. For example:

Request:
[code]
Response:
[code]

Instead of returning a direct link to the thumbnail proxy, we should return a direct link to an image in our infrastructure, similar to this: `https://api.creativecommons.engineering/v1/thumbs/6eca723c-0ac4-4de6-b83f-96812de61441.jpg`. Internally, when the image is requested f

[2020-03-06 05:26] kgodey commented on #438
Removing the "in progress" label and assignee.

[2020-03-06 13:34] kss682 commented on #369
@aldenstpage  Yeah, looks like the timing out was local issue and it only occured once .  So I ran it around 10 times and it was completing , I was not able to reproduce the problem .
So this should be the place where it is hanging
 https://github.com/creativecommons/cccatalog-api/blob/16252c2a5f085217741571331d7abde315e46857/ingestion_server/ingestion_server/ingest.py#L268-L270

But it looks fine

[2020-03-06 16:01] aldenstpage opened #445 "Implement oEmbed endpoint"
https://ombed.com

To support oEmbed, we are going to need to implement an API endpoint at `/v1/oembed`, which will accept parameters `url` and `format`. Fully implement the specification **except for wildcards**. Right now, we only have photos, so only implement the `photo` type. We want to support both JSON and XML formats (this should be as simple as switching Django renderers). Most importantl

[2020-03-06 16:12] aldenstpage commented on #299
This seems like it could be in tension with our desire to embed license attribution, which is not supported by oEmbed. Wouldn't we prefer if people used our own attribution blob with this information included? @sarahpearson?

In any case, this has been superseded by https://github.com/creativecommons/cccatalog-api/issues/445.

[2020-03-06 16:12] #299 closed

[2020-03-06 16:27] aldenstpage opened #446 "Popularity data integration"

[2020-03-06 17:33] aldenstpage opened #447 "Implement image scraper and thumbnailer to collect images for Rekognition"
- [ ] Write a worker for downloading images and saving them at a "rekognition friendly" size (640x480 or higher).
- [ ] Set up crawler in our infrastructure using Terraform.

[2020-03-06 17:41] aldenstpage commented on #369
It's not quite an issue local to me – even after switching to several new computers, I will occasionally run into this bug. Worst of all, it will sometimes kill the Travis build. I will say that how often it happens is highly variable to each machine.

[2020-03-06 17:46] kss682 commented on #369
@aldenstpage Ohh.., I am new to this , so can this be some factors totally unrelated to the code.

[2020-03-06 18:44] mzeinstra commented on #445
I did a project embedr (https://www.kl.nl/en/projects/embedr-image-embedding-done-right/ ) where we only used CC-licensed material, we used the html tag to add the proper attribution as part of the embed.

[2020-03-07 03:41] sp35 commented on #444
Interested, I'll start as soon as I get free from my last mid-sem exam today.

[2020-03-07 08:45] kss682 commented on #369
I ran ./load_sample_data.sh multiple times and the first time It got hung at clean.py , then onwards it's getting stuck at

[code]
when load_sample_data tries to create the table it errors as it already exists.

[2020-03-07 14:01] Tanuj22 commented on #445
@aldenstpage Can I work on this?

[2020-03-08 06:17] RutujaD182 commented on #438
Hey, I would like to work on this. Can I work on this?

[2020-03-08 13:57] nathzi1505 commented on #445
Can I contribute to this issue?

[2020-03-09 16:59] aldenstpage commented on #445
Hi @nathzi1505 and @Tanuj22, as the README says, you should feel free to work on tasks that are marked with help wanted. You should both check out branches and work in the open on the issue. Consider collaborating together to prevent redundant work.

[2020-03-09 17:00] aldenstpage commented on #412
https://wikijs.creativecommons.org/aws-imagine-grant

[2020-03-09 17:00] #412 closed

[2020-03-09 21:29] krysal opened #449 "Link to documentation of the Analytics server is not loading"
## Describe the bug

The Analytics server documentation doesn't load.

## To Reproduce

1. Go to [link](https://api.creativecommons.engineering/analytics) on the CC Search Analytics' [README](https://github.com/creativecommons/cccatalog-api/tree/master/analytics)
2. It redirects to http://api.creativecommons.engineering:8080/analytics/
3. See error

## Expected behavior

Show the docs.

## Screens

[2020-03-10 07:29] avivith commented on #444
Hi. Can I work on this issue?

[2020-03-10 11:41] RutujaD182 commented on #438
Hey, I would like to work on this. Can I work on this

[2020-03-10 15:39] krysal commented on #444
Hi @avivith, as README says:

But it's good that you announce that will be working on it!

[2020-03-11 08:04] outloudvi commented on #438
For the bonuses:
* automatically move PRs created by people that are not in the creativecommons GitHub organization to the "In Progress (Community)" column.
    * Should be doable since we have [`/orgs/:org/members`](https://developer.github.com/v3/orgs/members/#members-list).
* automatically move issues with linked PRs from the backlog project to the active sprint project.
    * I don't think Git

[2020-03-11 09:43] outloudvi commented on #438
I think this method will work and only work **for issues** with **a prefilled token** given with "write:org": in my [test organization](https://github.com/cc438-playground/cc438-testing/actions), it [failed](https://github.com/cc438-playground/cc438-testing/runs/500109245) with `GITHUB_TOKEN` by itself, but [worked](https://github.com/cc438-playground/cc438-testing/runs/500098575) with a pre-fille

[2020-03-11 15:07] aldenstpage commented on #449
It seems like there was an environmental issue preventing the ReDoc documentation from loading, which has been fixed.

[2020-03-11 15:07] #449 closed

[2020-03-11 18:20] makkoncept opened #452 "A small documentation error under image_search"
## Describe the bug
The 400 Bad Request response for the `images/` endpoint has keys: `error_type`, `field` and
`detail`. But in the documentation, it is mentioned that the keys are: `error`, `fields` and `detail`.

Compare and contrast the api response in https://api.creativecommons.engineering/v1/images?q=+ and the keys for 400 response type under https://api.creativecommons.engineering/v1/#oper

[2020-03-11 19:36] Vineet-Sharma29 commented on #452
Can I work on this @aldenstpage @makkoncept ?

[2020-03-11 19:56] kgodey commented on #452
@Vineet-Sharma29 our new contribution guidelines say that you no longer need permission to work on issues tagged "help wanted" or "good first issue".

Please read our [Contribution Guidelines here](https://opensource.creativecommons.org/contributing-code/).

[2020-03-11 20:32] kgodey commented on #438
@outloudvi I've added a secret with the appropriate permissions to this repo. You can access it by using `secrets.ORG_GITHUB_TOKEN`.

[2020-03-11 20:48] kgodey commented on #412
@aldenstpage I moved this to https://wikijs.creativecommons.org/tech/aws-imagine-grant, it should be under the tech namespace.

[2020-03-13 15:38] #438 closed

[2020-03-13 16:51] kgodey opened #456 "Test GitHub Action"

[2020-03-13 16:52] kgodey commented on #456
It works! Thanks @outloudvi and @Maxslide.

[2020-03-13 16:52] #456 closed

[2020-03-13 16:56] outloudvi commented on #456
Hurray! You might want to remove PR-related part in the workflow to avoid unnecessary PR build failures.

[2020-03-13 17:07] Maxslide commented on #456
Great!

[2020-03-13 17:08] kgodey commented on #456
@outloudvi The PR-related part is also working. See: https://github.com/creativecommons/cccatalog-api/pull/457

It is adding it to the wrong column, though.

[2020-03-13 17:22] outloudvi commented on #456
@kgodey As I said [here](https://github.com/creativecommons/cccatalog-api/issues/438#issuecomment-597535479),

It's working just because you are a member of this organization. For outside contributors, [it would not work](https://github.com/cc438-playground/cc438-testing/pull/9) and might be confusing.

You may want to use [`continue-on-error`](https://help.github.com/en/actions/reference/workflow

[2020-03-13 17:33] kgodey commented on #456
@outloudvi right, thanks, I missed that nuance. We want PRs from members of the organization to end up in the "In Progress" column, so this is still valuable.

We want PRs from members outside the organization to go to a different column ("In Progress (Community)") I'll see if there's a good way to do that. For now, would you be willing to send a PR that adds `continue-on-error`?

[2020-03-13 17:42] outloudvi commented on #456
@kgodey Sure. And yes, since it's possible to check if a member is in the organization (only for those piblic members). However, I think that might need a change in the action itself, which would be more tricky than the workflow file.

[2020-03-14 10:48] priscacodes commented on #452
I am working on this issue. @kgodey

[2020-03-19 23:10] josedavidb commented on #339
Hi! I can work in this issue? I can get more information about this?

[2020-03-21 18:11] sp35 opened #462 "Incorrect link to cccatalog-frontend in Readme"
## Describe the bug
The link to the cccatalog-frontend is incorrect.
It points to cccatalog https://github.com/creativecommons/cccatalog

## To Reproduce

1. Go to https://github.com/creativecommons/cccatalog-api#purpose
2. Checkout the link 'cccatalog-frontend repository' is pointing to

## Expected behavior
It should point to https://github.com/creativecommons/cccatalog-frontend

[2020-03-23 17:30] aldenstpage opened #464 "Implement image scraping worker"
We want to feed 100MM images to AWS Rekognition. To do this, we're going to do a lot of image downloading, since none of the images live in our infrastructure. We started out with using `scrapy-cluster`, but it's now clear that a custom solution is more appropriate. Scrapy doesn't really fit in gracefully for our use case and the pace of stable `scrapy-cluster` releases seems to have slowed.

Desi

[2020-03-23 17:31] aldenstpage opened #465 "Set up infrastructure for image scraper"
Blocking on https://github.com/creativecommons/cccatalog-api/issues/464. Set up dev and prod infrastructure for image scraping queue and workers.

[2020-03-23 17:35] aldenstpage opened #466 "Implement image scraper adaptive rate limiting"
Related to https://github.com/creativecommons/cccatalog-api/issues/464.

Using an algorithm based on [token buckets](https://en.wikipedia.org/wiki/Token_bucket), implement adaptive rate limiting. The rate of token replenishment should be determined by response times and status codes of each upstream host. Workers will have to synchronize on locks while acquiring tokens to prevent race conditions (

[2020-03-23 17:46] aldenstpage commented on #447
Succeeded by https://github.com/creativecommons/cccatalog-api/issues/464, https://github.com/creativecommons/cccatalog-api/issues/466, https://github.com/creativecommons/cccatalog-api/issues/465

[2020-03-23 17:46] #447 closed

[2020-03-23 18:09] aldenstpage commented on #464
The last step with the worker (before moving on to rate limiting) is implementing S3 uploading.

[2020-03-24 20:47] kgodey commented on #413
I'm going to close this since it's not code related and I'm tracking this task separately.

[2020-03-24 20:47] #413 closed

[2020-03-25 14:38] #462 closed

[2020-03-25 16:43] #452 closed

[2020-03-25 19:42] aldenstpage commented on #466
I added some additional details about how this will work to the ticket.

[2020-03-26 17:48] aldenstpage opened #471 "Determine ideal compression for Rekognition images"
Related to #464.

## Description
We need to determine the ideal amount of JPEG compression to use for images that we feed to Rekognition. See this discussion; it looks like compression reduces the quality of Rekognition detection. We should do some experiments to determine the best tradeoff between filesize and detection accuracy. Ideally, we should use as much compression as possible without dimi

[2020-03-26 18:43] kgodey commented on #471
I mainly want to say that I love that picture of Erdős, @mathemancer.

[2020-03-29 14:20] 1997SHUBHAM opened #472 "I Indivisuals Checkbox for Images,Videos, Audios"
## Problem Description
New frontend page for images,audio and video

## Solution Description
when you click any of checkbox at a time
i will call that particular api for data

## Alternatives
AFTER IMPROVEMENT IT WILL LOOK LIKE THIS

![IMG_20200329_202534](https://user-images.githubusercontent.com/50594486/77852401-14083180-71fc-11ea-9eb7-00c231366305.jpg)

## Additional context

[2020-03-29 15:04] 1997SHUBHAM commented on #472
Main Motive of this is that whenever you select the type of checkbox you will get that type of data using  API which is associated with it.

[2020-03-31 16:05] aldenstpage commented on #472
Please post any frontend proposals in the [corresponding repository](https://github.com/creativecommons/cccatalog-frontend)

[2020-03-31 16:05] #472 closed

[2020-04-03 14:31] aldenstpage opened #473 "Create a Django admin interface for handling pending mature reports and DMCA requests"
A rough description of how this interface will work:

[2020-04-03 14:51] aldenstpage opened #474 "Create an endpoint for accepting reports on images"
We need an endpoint for accepting reports from users about images that they perceive as being inappropriate for search results. The report will go to a database table called `nsfw_reports`, where we will be able to make a judgement call on what the next steps with the image are (either no action, hiding behind an opt-in NSFW checkbox, or deleting entirely).

Example request:
[code]

Users can also

[2020-04-03 15:23] aldenstpage opened #475 "Collect height, width metadata during image scraping"
Blocking on https://github.com/creativecommons/cccatalog-api/issues/464

After scraping an image, we should publish the dimensions metadata to a Kafka topic for pulling into the `cccatalog`.

Topic: `resolution_updates`
Messages should be JSON with this schema:
[code]

[2020-04-03 19:49] #445 closed

[2020-04-06 04:48] enelesmai commented on #471
What is the expected deliverable here? I would like to work on it,

[2020-04-06 18:19] aldenstpage commented on #471
Hi @enelesmai, I added a Deliverables section to the ticket. I think a CSV would be a good way to communicate the results of this experiment.

[2020-04-07 06:25] enelesmai commented on #471
Great! so I'll star working on it and let you know if I have another question

[2020-04-07 13:19] Vineet-Sharma29 commented on #475
@aldenstpage can I work on this?

[2020-04-07 13:25] Vineet-Sharma29 commented on #474
@aldenstpage can I work on this?

[2020-04-08 00:17] krysal commented on #264
Hi @aldenstpage @annatuma 👋 Is this task different from [this](https://github.com/creativecommons/cccatalog-api/issues/474) other? If so I can work on this.

[2020-04-10 15:51] kgodey opened #476 "Collect data on API usage"
## Problem Description
We should collect data on how our API is being used. We should be able to create reports of non-CC Search API usage
- by API key
- from unauthenticated users (per user, anonymized)

## Solution Description
Append API keys (when available) to uwsgi logs.

[2020-04-14 14:43] aldenstpage commented on #466
Instead of adaptive rate limiting, we're using a simpler scheme where we assign a rate limit based on the crawl size of each source. So, with Flickr having 455MM images, it gets the maximum crawl rate, while a site with a few thousand images like PhyloPic only gets a request every five seconds. Everything in-between is interpolated linearly.

There are circuit breaks in place that get tripped if i

[2020-04-14 15:50] #464 closed

[2020-04-14 19:20] aldenstpage commented on #339
@Sando1 and @josedavidb, we've got a clearer picture of what our NSFW filtering scheme will look like now and have opened this up to community contribution if you're still interested. Thanks!

[2020-04-14 19:41] aldenstpage commented on #368
After talking with the stakeholder who requested this issue, I found that my initial suggestion to use our internal model for licenses in `licenses.py` wouldn't meet their requirements. We're going to have to take a different approach (description updated). I've overhauled this to be less ambiguous so an outside contributor can take a crack at it.

[2020-04-15 15:49] #475 closed

[2020-04-16 09:22] jbasanta commented on #339
Yes! I'm still interested, I'm going to get into it!

[2020-04-17 14:31] aldenstpage opened #478 "Collect EXIF data in image crawler"
Related to https://github.com/creativecommons/cccatalog-api/issues/464

After scraping an image, we should publish the EXIF metadata to a Kafka topic for pulling into the cccatalog at a later date..

Topic: image_metadata_updates
Messages should be JSON with this schema:
[code]

[2020-04-17 14:35] #466 closed

[2020-04-21 15:00] aldenstpage opened #479 "CRITICAL_WORKER_TIMEOUT from ingestion_server on startup"
From @krysal on Slack:

Both Brent and I are able to reproduce this problem.

[2020-04-21 15:54] #479 closed

[2020-04-21 17:24] aldenstpage opened #482 "[Feature] Use metadata keywords to help detect if something is NSFW"
## Problem Description
We are trying to make NSFW content in CC Search "opt-in". We can catch a lot of NSFW content by using API specific filters and relying on moderation "upstream" at the source, but sometimes things slip through.

## Solution Description
One way we can help prevent this is scanning for NSFW profanity and slurs in the title/tags/artist name and settings `nsfw = True` in the meta

[2020-04-22 15:20] #478 closed

[2020-04-22 15:40] #474 closed

[2020-04-23 11:49] Tanuj22 commented on #368
@aldenstpage for `It should be parsed when the server is started up` part is this the best approach https://stackoverflow.com/a/6792076 or is there a better way?

[2020-04-23 18:27] annatuma commented on #473
Updated description to replace "NSFW" with "Mature", per discussion on meta ticket.

[2020-04-23 20:57] aldenstpage commented on #473
Here's a demo of how this will work:
![1](https://i.imgur.com/dkN2qgY.png)
Here's a list of reports. This can be populated through users using the report interface or you can manually make one yourself through the admin UI interface. This is nice because it will let you avoid being rate limited like an anonymous user would (end users will likely have a maximum number of reports they can make per d

[2020-04-23 21:35] annatuma commented on #473
This looks super! Thank you so much for the walk through in the ticket and answering my questions on Slack.

As discussed the default filter is not an issue, it's quick enough to click on "pending_review" to deal with any new complaints.

[2020-04-24 18:49] SaurabhAgarwala commented on #264
@aldenstpage I would like to work on this issue. Please assign it to me.

[2020-04-24 20:49] krysal commented on #264
@SaurabhAgarwala CC Staff is no longer assigning people to issues, you can start right away if you want, I wanted to work on this but was wondering is the endpoint is indeed still needed.

[2020-04-24 20:50] #339 closed

[2020-04-24 20:52] #473 closed

[2020-04-24 21:45] SaurabhAgarwala commented on #264
Hey @krysal, I think we are free to submit a PR without being assigned only those issues marked `help wanted`. For others, I believe we need permission.
Yeah, even I was wondering if this endpoint is still needed and hence asked for permission.
If this endpoint is still needed, since you asked before, so you can work on it alone or if you want we can work collaboratively as well.

[2020-04-27 17:36] ritesh-pandey commented on #368
Adding to @Tanuj22 's idea, `ready()` looks to be good place for parsing and loading licenses.

As per [documentation](https://docs.djangoproject.com/en/2.2/ref/applications/#django.apps.AppConfig.ready), Django will call `ready` only if we specify dotted path to `ApiConfig` in `INSTALLED_APPS`.

Unfortunately I am stuck at
[code]
Something is missing. My guess is that we need to specify `path` at

[2020-04-28 17:43] Tanuj22 commented on #368
@aldenstpage I am having some trouble parsing the file. If I use this [approrch](https://github.com/RDFLib/rdflib-jsonld) I get this output.
[code]

I can't figure out why it is filled with `\n`.

If I simply try to do this
[code]
I get output like this
[code]
I can't figure out how to get the required information from this.

[2020-04-28 17:44] Tanuj22 commented on #368
@ritesh-pandey Just change `name = api` to `name = cccatalog.api` in `apps.py`

[2020-04-28 21:36] ritesh-pandey commented on #368
@Tanuj22 [This](https://www.w3.org/TR/rdf11-concepts/) should help in understanding the RDF structure.

[2020-04-30 12:07] ritesh-pandey commented on #368
https://github.com/ritesh-pandey/cccatalog-api/blob/add-license-end-point/cccatalog-api/cccatalog/api/licenses.py#L45

- Read RDF file location from `settings.py`
- Use `ready` of `api` app to run one-time process of parsing and caching license versions
- Use default caching to store all licenses in memory (@aldenstpage please comment if this is the recommended way)

Parsing the license RDF file i

[2020-04-30 17:37] aldenstpage commented on #471
Hi @enelesmai, any updates on this? No problem if there hasn't been any progress, I'm going to look into this in our next sprint as a prerequisite of setting up our image crawler.

[2020-04-30 19:53] aldenstpage commented on #368
You can cache it using the DJango cache interface, but you'll need to set up a local cache backend (see settings.py and Django docs) instead of Redis. Redis is used to share cached state data between servers; in this case, every server is going to have its own copy of the file during installation, so there's no need to store it in Redis.

The file is 5mb, it shouldn't suck up all of your system's

[2020-05-01 11:12] ritesh-pandey commented on #368
- Added Local Memory cache

But, I am still struggling with the original problem. The script gets terminated at random when executed with original license file with an error related to `rdflib`. When I run the same script with smaller test file (subset of original file), it executes perfectly.

I created a [gist](https://gist.github.com/ritesh-pandey/b7075beae2f900955fa5788b658745a6) for the same.

[2020-05-01 14:27] Arunhari333 commented on #471
Some of the issue seems to be solved. What are the remaining tasks?

[2020-05-04 16:39] aldenstpage commented on #471
@Arunhari333, I don't think anyone has had the time to take this on yet so the whole task remains. It's a blocker for scraping images so I'll be taking a look at it this week.

[2020-05-05 10:35] hedonhermdev commented on #444
Hello, the previous PR on the issue seems to have become stale. Can I continue the work on this issue?

[2020-05-05 14:31] aldenstpage commented on #444
Hi @hedonhermdev, it's not stale so much as pending additional testing and review. I think it provides a strong enough base that redoing this is not necessary.

[2020-05-05 14:39] hedonhermdev commented on #444
Okay, let me know if there is any work that needs to be done

On Tue, 5 May 2020 at 8:01 PM, Alden S Page <notifications@github.com>
wrote:

[2020-05-05 15:25] CeRKeZ55 commented on #444
Yes finish it

Mvg, Yusuf Soysal
Directeur Soysaltech

Op 5 mei 2020 om 12:36 heeft Tirth Jain <notifications@github.com> het volgende geschreven:

﻿

Hello, the previous PR on the issue seems to have become stale. Can I continue the work on this issue?

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/creativeco

[2020-05-06 18:45] aldenstpage opened #487 "/healthcheck endpoint should check for Elasticsearch availability"
During deployments, our load balancer repeatedly polls the `/healthcheck` endpoint to check that the server is reachable. If this check succeeds, the newly deployed instance starts receiving production traffic. Right now, if Elasticsearch is not responsive, `/healthcheck` will still return `200 OK`.

The healthcheck endpoint should check the health of the `image` index in Elasticsearch using the [

[2020-05-06 20:25] #444 closed

[2020-05-07 13:10] Tanuj22 commented on #368
@ritesh-pandey I followed a similar approach as you and was able to parse the file. But this logic is taking up a great effort from my system and is barely able to do so. I guess there has to be a better way to parse the file.

[2020-05-08 13:47] madewithkode commented on #487
Hi Alden, this looks interesting, I'd love to work on it.

[2020-05-08 14:54] madewithkode commented on #487
Hi Alden in order to check the health of the `image` index in the /healthcheck view, I'm trying to use the urllib's `urlopen()` method to make a request to Elasticsearch's  cluster API this way:

`cluster_response = urlopen('http://0.0.0.0:8000/_cluster/health/image')`

However, I keep getting a 404. Is there something I'm doing wrong?

[2020-05-08 16:44] madewithkode commented on #487
Figured this, didn't know elastic search was running on a seperate host/port :)

[2020-05-08 20:06] aldenstpage commented on #487
It would be best to use the equivalent `elasticsearch-py` query instead of making direct calls to the REST API. [Here's](https://discuss.elastic.co/t/how-to-get-cluster-health-using-python-api/25431) an example for getting the cluster health; there ought to also be a way to narrow the query to the `image` index.

[2020-05-08 20:28] aldenstpage commented on #471
It turns out that someone has published some research on this subject already. See [How Image Downscaling and JPEG Compression Affects Image Classification Performance](https://www.diva-portal.org/smash/get/diva2:1351106/FULLTEXT01.pdf). I don't see a point in reproducing these experiments.

If you scroll down to the results section, you will see that object recognition accuracy is only slightly i

[2020-05-08 20:28] #471 closed

[2020-05-09 08:48] madewithkode commented on #487
Alright...would look at the suggestion.

On Fri, May 8, 2020, 21:06 Alden S Page <notifications@github.com> wrote:

[2020-05-09 11:57] madewithkode commented on #487
Hi Alden, I'm here again :)
I'd love to ask, what status specifically signifies the availability of the `image` index.
`red`, `yellow` or `green` ? or should i leave out this detail in the query since I'm using an already established connection instance from `search_controller.py` which waits for a `yellow` status by default.

[2020-05-09 19:22] madewithkode commented on #487
### Update:
I've successfully managed to query the health of the entire cluster, using the Elasticsearch connection instance gotten from `search_controller.py`. However when i try to limit the health check to just the `image` index, the request never resolves and continues to run forever with no response. And when i try to specify a timeout for the request, i get an "Illegal argument exception" ev

[2020-05-10 16:21] ritesh-pandey commented on #368
Agree. I think we are taking wrong approach here. @aldenstpage Can we use some help here?

[2020-05-11 14:46] madewithkode commented on #487
Hi Alden, Progress Report :)

Successfully got the `load_sample_data.sh` to run,  and so far every other thing is working fine.
I've also set up the 10s response caching on the `/healthcheck` view using redis and also the error logging.

However, I figured out the reason for the unresponsiveness when querying the elastic search `image` index was that it was non-existent and that the whole cluster

[2020-05-11 19:49] aldenstpage commented on #487
Hi again Onyenanu – if the index doesn't exist, the healthcheck should fail. This could happen in situation where we are switching Elasticsearch clusters in production and forgot to index data into the new one (or something went wrong while we were loading data). Instead of querying specifically for the `image` index, you could perhaps query for healthchecks of every index in the cluster, and fail

[2020-05-11 21:25] madewithkode commented on #487
Hey Alden...Many thanks again for coming through with better insights. Suggestion sounds nice, would proceed with it.

And yes, the whole stuff  is getting more interesting, learnt a handful in the few days :)

[2020-05-12 01:09] dhirensr opened #491 "Documentation should have multiple request samples"
## Problem Description
Hello everyone,
In the documentation https://api.creativecommons.engineering/v1/#operation/register_api_oauth2 I see that curl instructions are given in the docstring (https://github.com/creativecommons/cccatalog-api/blob/a18f75fccdd7345beff820dff4ee69604cd53748/cccatalog-api/cccatalog/api/views/site_views.py#L91-L137) and hence user can just view it as a text box, and needs

[2020-05-12 21:50] annatuma opened #493 "Expose "report date/time" in Image Reports table in Django admin"
The new Image Reports table in Django admin is great and useful already!

It would be very helpful to include "report date/time" for each row as well, so we can see when things came in. Especially in cases where one person is reviewing, but is saving something for a second opinion that they might only get later.

[2020-05-12 22:42] dhirensr opened #494 "Missing documentation for OEMBED"
## Describe the bug
The documentation for OEMBED module is not properly designed because https://api.creativecommons.engineering/v1/oembed it does not mention about the params needed, so one always get's a 404
Then I saw in the implementation here https://github.com/creativecommons/cccatalog-api/blob/a18f75fccdd7345beff820dff4ee69604cd53748/cccatalog-api/cccatalog/api/views/image_views.py#L271
the

[2020-05-14 14:39] aldenstpage opened #495 ""Waiting for replica shards" times out after five minutes"
What happened:
- We reindexed the data last night
- Elasticsearch began initializing replicas.
- The client is supposed to wait for the shards to initialize for up to 3 hours. Instead it timed out after 5 minutes. This is clearly a global timeout in elasticsearch-py, so this call is not reliable.
[code]
Notice that we asked to wait for up to 3 hours, but only five minutes passed before the call ti

[2020-05-14 17:13] #495 closed

[2020-05-14 20:02] aldenstpage commented on #494
Thanks for reporting this. Could you please consolidate documentation defects under one issue (like this one: https://github.com/creativecommons/cccatalog-api/issues/491)?

[2020-05-14 20:02] #494 closed

[2020-05-14 20:11] dhirensr commented on #494
@aldenstpage : thanks for the reply. I would consolidate them and send a PR this weekend :smile:

[2020-05-14 20:11] dhirensr commented on #491
@aldenstpage : I would like to work on this and will send a PR in a week .

[2020-05-14 20:42] aldenstpage commented on #368
Hey @ritesh-pandey, I'll have some time to take a closer look at this issue in our next sprint (the next two weeks beginning Monday). I haven't had the bandwidth to diagnose this.

[2020-05-15 13:22] mathemancer commented on #446
The current plan is to use the following function to calculate the 'popularity' of a given image:
[code]
where `x` is the raw popularity score from the provider (e.g., views).  For any fixed, positive constant `C`, this will map any `x` value to the interval `[0, 1)` (including zero but not including `1.0`).  Only raw values of 0 will be mapped to 0 in the interval.

We want to choose `C` to contr

[2020-05-17 18:44] Mr-burme opened #501 "Help wanted! Can someone please provide an exaple of this api?"
Hi, I would like to use this API in my python application, but I don't know how.

I want the code to get one CC0 1.0 license image by searching one word. I don't know if this API allows downloading the image directly if not the image URL is fine.

Can someone please share some python code that can get an image URL or download the image?

If this is not possible that's okay I'll try to find another

[2020-05-17 20:01] Tanuj22 commented on #501
Hey @Mr-burme, there can be multiple images with `CC0 1.0` license and searching one word. For Eg. https://api.creativecommons.engineering/v1/images?q=hello&license=cc0&license_version=1.0 contains multiple images with `CC0 1.0` license and word say `hello`. Do you want a specific image?

[2020-05-18 01:04] dhirensr commented on #491
@kgodey @aldenstpage
* Few ideas regarding docs
** All response parameters doesn't have a description. I would like to add that just to make it more explicit and clear.
for eg : in recommendations identifier description is missing.(https://api.creativecommons.engineering/v1/#tag/recommendations)
** I would like to extend by adding a description for each title of the page. Like for images something

[2020-05-18 07:08] Mr-burme commented on #501
Hi, I want to get the first image that shows up in the results.
Thanks!
Ernests

[2020-05-18 09:09] Tanuj22 commented on #501
This will give you the url of the first image in the results.
[code]

[2020-05-18 09:19] Mr-burme commented on #501
Thank you so much. You have made my day.
Thanks again.
Ernests

[2020-05-18 09:19] #501 closed

[2020-05-18 14:34] aldenstpage opened #502 "Compute /v1/sources endpoint statically during indexing"
Elasticsearch aggregations are expensive. If we continue experiencing capacity issues, we should look into making the `/v1/sources` endpoint counted once during ingestion.

[2020-05-19 14:31] #493 closed

[2020-05-20 03:39] zackkrida opened #509 "500 Response for digitalt museum provider"
Currently returning a 500 error, and subsequently no results on the frontend.

Failed API route: https://api.creativecommons.engineering/v1/images?format=json&source=digitaltmuseum

Empty front-end route: https://search.creativecommons.org/collections/digitaltmuseum

[2020-05-20 20:53] gabbyprecious commented on #308
Would love to work on this. can you explain more on it

[2020-05-20 20:59] #465 closed

[2020-05-20 23:46] dhirensr opened #506 "Documentation for Ingestion Server"
## Problem Description
Hello @aldenstpage ,
I see that currently there is no documentation for ingestion server module and it supports Falcon Api.
I would like to add documentation for the ingestion server.

## Solution Description
I would like to add swagger api spec as done in analytics module.

Once approved I would start working on it.

[2020-05-21 09:16] gabbyprecious commented on #491
Is this still open? I would love to propose a solution

[2020-05-21 09:18] gabbyprecious commented on #405
I would love to work on this, should I send a pull request?

[2020-05-21 11:43] dhirensr commented on #491
@gabbyprecious : if there are minor changes like mentioned above I think you can use this ticket, otherwise you could create a new ticket.

[2020-05-23 14:22] Mr-burme commented on #482
I hope this gets implemented. I got dick picks in one of my school projects.

[2020-05-27 22:30] aldenstpage opened #508 "Deindexed works can be reingested into the database"
Deindexed images are excluded from our search results as intended, but they can be copied back into our database when we refresh the data. The result is that you can access the "deindexed" work if you have the URL (but they will never show up in search results).

As a mitigation, I have manually deleted the previously deindexed images from the database and temporarily disabled reingestion until th

[2020-05-28 14:31] aldenstpage commented on #509
It looks like the problem is that the thumbnail proxy expects a file extension when there is none to be found for images sourced from digitaltmuseum.

[code]

[2020-05-28 14:33] aldenstpage commented on #506
I don't think we plan on extending that API. In the beginning, it looked like we were going to need an API for managing ingestion tasks on a more granular level, but it ended up not being necessary. I would like to remove some of the endpoints in the future because that API isn't especially reliable (in particular changes to the ingestion architecture have made the percent complete field in the ta

[2020-05-28 14:33] #506 closed

[2020-05-28 14:47] aldenstpage opened #510 "Image URLs without file extensions break search views"
Parent issue: https://github.com/creativecommons/cccatalog-api/issues/509, introduced by https://github.com/creativecommons/cccatalog-api/pull/460

The thumbnail proxy expects a file extension when there is none to be found for some images from certain upstream sites (like digitaltmuseum). We should not include the file extension in thumbnail URLs at all; browsers can figure out that it's an image

[2020-05-29 14:53] aldenstpage opened #512 "Source logos should be exposed through cccatalog-api"
- `/v1/sources` should expose a link to the logo image for each source
- They should be dynamically controllable through the `content_provider` table exposed through Django admin interface.
- There needs to be some validation to prevent invalid content_provider records from breaking the `/v1/sources` endpoint and other search features.

[2020-05-29 15:09] kgodey commented on #512
@makkoncept will work on this.

[2020-05-29 15:17] aldenstpage opened #513 "Smoke test image crawl"
- Compare cost of increasing jpeg quality to 50
- Run a smoke test on a few thousand URLs before we begin the larger crawl; patch the system in response to any problems raised with a production-like workload.

[2020-05-29 16:23] aldenstpage opened #514 "Enable CDN for thumbnails"
For users who are not based in the United states or within a couple thousand miles of it, thumbnails will load slowly because they need to come from our server half a world away. We should make sure that thumbnails are cached through Cloudflare.

[2020-05-31 19:53] hedonhermdev commented on #510
Hello, I am working on this issue. How should I test if the changes I made are working?

[2020-06-01 13:35] #509 closed

[2020-06-01 14:07] #510 closed

[2020-06-01 19:25] ShawtyDaGee opened #517 "loadFile(fileURL, preferredSize, fullscreen)"
## Problem Description

## Solution Description

## Alternatives

## Additional context

[2020-06-01 19:26] ShawtyDaGee commented on #517
#- Thank you for your update @ShawtyDaGee _****_

[2020-06-01 19:38] ShawtyDaGee opened #518 "#- Thank you for your update @ShawtyDaGee _****_"
#- Thank you for your update @ShawtyDaGee _****_

_Originally posted by @ShawtyDaGee in https://github.com/creativecommons/cccatalog-api/issues/517#issuecomment-637056701_

[2020-06-02 14:49] TimidRobot opened #519 "Default value for SECRET_KEY (secret committed to repository)"
## Describe the bug
`cccatalog-api/cccatalog/settings.py` Lines [25](https://github.com/creativecommons/cccatalog-api/blob/master/cccatalog-api/cccatalog/settings.py#L25)-27 contain a default value for `SECRET_KEY`.

I assume this is not being used in production. However, this creates the risk that 1) human error could allow it into production or 2) we might contribute to an insecure configuration

[2020-06-02 17:18] aldenstpage commented on #519
I can confirm that it's not used in production, only for purposes of local development. It might be possible to remove the default key entirely; I'll leave this to a contributor to find out.

[2020-06-02 17:18] #518 closed

[2020-06-02 17:19] #517 closed

[2020-06-02 17:24] aldenstpage opened #520 "Malformed tags can break ingestion"
We should filter out malformed tags and log offending records.

[code]

[2020-06-02 17:58] #520 closed

[2020-06-02 21:17] aldenstpage commented on #519
I see, thank you. In that case it looks like the best solution is to remove the default setting from `settings.py` and set the corresponding environment variable in the `web` container defined in `docker-compose.yml` instead.

[2020-06-03 20:18] aldenstpage opened #523 "`size` parameter is not validated or documented"
In the `/v1/images?q=...` endpoint, the `size` parameter should only accept the values `small`, `medium`, or `large`. Note that it is possible to select multiple sizes at once.

The parameter should also be documented in the API docs.

[2020-06-05 09:00] mathemancer opened #525 "`null` license URLs in prod."
## Describe the bug

The API returns `null` for license URL when license URL is `null` in the `meta_data` field of the `image` DB, even in the case where a valid license / license version combo is available.

See https://api.creativecommons.engineering/v1/images/9b900d3b-27d9-411f-8366-a0152eefb34a for an example.

## To Reproduce

1. Go to https://ccsearch.creativecommons.org/photos/724c8237-69f8

[2020-06-05 14:58] #525 closed

[2020-06-05 15:09] aldenstpage commented on #369
Adding "urgent" because this is becoming a major nuisance

[2020-06-05 15:12] aldenstpage commented on #525
This is no longer reproducible in production.

[2020-06-05 16:45] #523 closed

[2020-06-05 17:52] #519 closed

[2020-06-10 20:04] aldenstpage opened #530 "Verify that thumbnail S3 caching is working properly"
Thumbnails of high resolution images load very slowly. See the Smithsonian collection for examples. This suggests that our thumbnail proxy isn't hitting the S3 cache, which is surprising since the S3 bucket is being populated with resized images.

This is tied to our infrastructure code, so I don't think it will be possible for an outside contributor to help.

[2020-06-11 17:26] aldenstpage opened #531 "Switch `source` with `provider`"
For the sake of consistency, we would like to refer to source platforms as `sources`, and then break further break each collection down by `provider`. For example, the NASA account on Flickr could be labeled `provider=flickr` and `source=nasa`.

[2020-06-11 17:27] kgodey commented on #531
@aldenstpage I think we decided it would be `provider=flickr` and `source=nasa` cc @mathemancer

[2020-06-11 17:31] aldenstpage commented on #531
Fixed!

[2020-06-11 17:37] mathemancer commented on #531
This is correct by my recollection, and is what the current new schema will reflect in the upstream DB.  The newly-implemented schema (restricted to provider/source-related columns) is described below:

Relative to the old `image` table, the changed interpretations of three fields in the `new_image` table are:
- `provider`: This is the 3rd party provider that provides the image metadata we've coll

[2020-06-11 17:38] mathemancer commented on #531
The values of `ingestion_type`, by the way, will be `provider_api` or `commoncrawl`

[2020-06-15 06:11] nimishbongale opened #532 "Configure a Dependabot"
## Problem
Version updates are a pain to configure manually.

## Description
Configure the newly released Github-native dependabot to do the same for us.

## Alternatives
Dependabot has moved natively to github, making things a lot easier! Dependabot has already been configured for cc-vocabulary.

## Additional context

* https://github.com/creativecommons/vocabulary/commit/b4802dfdfe0c97ad9e36b3d

[2020-06-15 15:59] #532 closed

[2020-06-15 20:02] aldenstpage commented on #514
We had Cloudflare's CDN enabled for the cc.engineering domain but not for its subdomains. This has been fixed.

It may take a while before common queries are cached.

[2020-06-16 13:13] makkoncept commented on #514
Hi @aldenstpage. The `thumbs` endpoint is showing `internal server error`. Is it because that maybe queries are not cached yet?

![Screenshot from 2020-06-16 18-40-20](https://user-images.githubusercontent.com/34679965/84778601-d8ae1f80-b000-11ea-83f3-b4e9a828a316.png)

[2020-06-16 14:39] aldenstpage commented on #514
Could you include some search terms and links? When I do a search, all of the thumbnails load.

[2020-06-16 15:19] makkoncept commented on #514
https://api.creativecommons.engineering/v1/images?q=cat Every thumbnail I tried on this search result gives the error.

GIF for reference (opening `url` and `thumbnail` pairs)
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/34679965/84793357-9db4e780-b012-11ea-87f7-b21994806efd.gif)

[2020-06-16 16:40] aldenstpage commented on #514
Thanks for raising that! I hadn't noticed a configuration issue because the frontend falls back to full resolution images if the thumbnails don't load properly. It's fixed now.

[2020-06-16 16:40] #514 closed

[2020-06-16 17:10] aldenstpage commented on #530
It seems likely that the underlying issue is a bug in willnorris/imageproxy (have to confirm). If that's the case it may be best to disable this cache entirely, deleting the thumbnail buckets, and reporting this upstream.

The CDN makes this layer of caching "nice to have".

[2020-06-18 17:29] aldenstpage opened #540 "Phase out view_count column"
We don't need the view_count column because the analytics API makes it obsolete. It should be removed from the schema through migrations, and the django cron job that updates it (as well as the accompanying over-engineered redis caching code) should be deleted.

[2020-06-19 12:54] makkoncept opened #541 "The `thumbnail` key in response object of image_detail endpoint contains the source url"
## Description

The `thumbnail` key in the API response of the image_detail endpoint does not contain thumbnail url but the same source url which is also there in the `url` key (eg: https://api.creativecommons.engineering/v1/images/ad1de2c1-88c0-46d1-8490-8e1c462e80a4).

## Resolution

- [ ] I would be interested in resolving this bug.

[2020-06-19 13:35] dhirensr commented on #541
@makkoncept : I see that the url's are different for thumbnail and url
url -> "https://images.metmuseum.org/CRDImages/is/original/DP343717.jpg",
    "thumbnail" -> "https://images.metmuseum.org/CRDImages/is/web-large/DP343717.jpg"
also the resolution for both the images are different.  I guess it's working correctly.

[2020-06-19 14:03] makkoncept commented on #541
Oh, Thanks for the heads up. I didn't noticed the ending of the urls.

I was mostly alarmed by the fact that the API responds with two different thumbnail values for the same image on different endpoints - eg: consider the first image in https://api.creativecommons.engineering/v1/images?q=hello
- It's thumbnail is `https://api.creativecommons.engineering/v1/thumbs/98b01826-d8d8-4598-a079-9330da4f0

[2020-06-19 20:06] aldenstpage commented on #513
I changed this to "smoke test image crawl" instead of "begin image crawl" because actually starting the crawl is blocked here: https://github.com/creativecommons/cccatalog/issues/386

[2020-06-19 20:06] #513 closed

[2020-06-20 01:49] dhirensr commented on #541
@makkoncept : oh yeah,this looks like a bug now because of different sizes of image.
as far as I understood the thumbnail from https://api.creativecommons.engineering/v1/thumbs/98b01826-d8d8-4598-a079-9330da4f0965 comes from the database and is only scaled with a different width which is there in cccatalog.settings.
Also the thumbnail in detail response which points to flickr is just of a differen

[2020-06-20 18:10] ritesh-pandey commented on #540
I am taking this up.

[2020-06-22 09:34] ritesh-pandey commented on #540
Is the cron job that we are talking here is `SaveCachedTrafficStats`?

[2020-06-22 09:43] ritesh-pandey commented on #540
Module `api.utils.view_count` now contains a single method `_get_user_ip`.

Should we rename the module to a more relevant name like `api.utils.request`?

[2020-06-22 14:19] aldenstpage commented on #540
That's right.

Yep, that's fine

[2020-06-22 16:01] ritesh-pandey commented on #540
Do we generate migrations on dev machine and push them to repo or do we follow any other mechanism?

[2020-06-22 16:42] aldenstpage commented on #540
Yeah that's the correct process to follow. After the PR has been merged I will run the migration manually during deployment.

[2020-06-22 18:57] aldenstpage commented on #541
Yes, this is a problem. The source of this issue is that the thumbnail proxying logic comes from "post processing" URLs in the search response. We don't post process detail views, so instead the thumbnail falls back to whatever is stored in the database for the `thumbnail` field, resulting in a discrepancy.

Instead of setting the thumbnail through postprocessing, we should generate the link to th

[2020-06-23 16:54] aldenstpage commented on #530
I've opened up a ticket in the upstream willnorris/imageproxy repository. https://github.com/willnorris/imageproxy/issues/240

I suspect the problem is that the Smithsonian institute URLs abuse query parameters and the anchor sign for serving up images, which are probably stripped for caching purposes.

[2020-06-24 15:17] ritesh-pandey commented on #540
PR created.

[2020-06-24 15:50] aldenstpage commented on #265
@annatuma @kgodey Let's try to get this and https://github.com/creativecommons/cccatalog-api/issues/369 in the next sprint; these issues are bogging down API development.

[2020-06-24 16:32] #531 closed

[2020-07-01 21:28] #512 closed

[2020-07-08 17:01] #541 closed

[2020-07-10 15:56] annatuma opened #559 "API updates to support provider and source on frontend"

[2020-07-10 18:26] #559 closed

[2020-07-14 12:20] annatuma opened #561 "Change display name of admin label for filtering content"
When trying to upload a provider/source logo in the Django UI for Content Provider, an SVG file was rejected. We believe this may be in error.

Separately, can we change the "filter content" label to say "hide content" for more clarity, so that we know without a doubt that this is the on/off flag for providers/sources to show on the frontend?

[2020-07-22 18:02] aldenstpage commented on #561
This is a known issue with Django. I'll make a patch for it. We can also change the display name of filter_content easily enough.

[2020-07-22 18:32] #530 closed

[2020-07-22 18:33] aldenstpage commented on #530
The change hasn't been merged upstream yet; we're using my fork of the project for now.

[2020-07-22 21:13] aldenstpage commented on #530
Fix is in prod

[2020-07-23 14:37] aldenstpage commented on #502
Closing this because we've managed to stabilize Elasticsearch by making some better hardware tradeoffs and smarter indexing

[2020-07-23 14:37] #502 closed

[2020-07-23 16:56] aldenstpage commented on #561
@annatuma, unfortunately, after educating myself on this issue a little more, I think it would be better if you worked around this problem by rasterizing the image (converting it to .png in Inkscape or other [similar application](https://apple.stackexchange.com/questions/25012/are-there-any-native-tools-for-svg-conversion-on-os-x)) before uploading it through the admin panel.

The reason that our

[2020-07-24 18:57] aldenstpage opened #564 "Preserve thumbnail aspect ratio"
## Problem
`imageproxy` is not configured to preserve aspect ratio, resulting in all thumbnails becoming square. Consider smart cropping also?

This can probably be fixed by changing the thumbproxy URL parameter from `600` to `600,fit`.

[2020-07-24 21:58] kgodey opened #565 "Issues with results when page count gets high"
**Email from an API consumer:**

I found that we get some error messages from the CC Search API where the page parameter is high, e.g. +170. For page=169 we still get the results, but for bigger numbers it returns an Internal system error 500 (or 502) even though the page_count is not exceeded.

The example I was going with had the following parameters:

- text: "trees"
- source: "wikimedia,thorva

[2020-07-27 16:06] dhirensr commented on #565
I tried to reproduce the same error for the first query = trees ,same sources , page 170 was failing sometimes with 502 bad gateway and sometime's it worked with Postman.
I guess this error is being caused due to server getting overloaded and isn't a bug in the code.

[2020-07-28 14:13] zackkrida opened #571 "[Feature] Metadata to classify providers"
## Problem

While we don't want the current frontend design of cc search to lead our api design, we currently _hardcode_ classifications of the providers in cc search, and would like to consider adding a mechanism to do this via the api. The only current categories are 'museum' and 'other', but this may be extended in the future, especially as our number of sources grows.

## Description

Implemen

[2020-07-28 14:20] aldenstpage commented on #571
Who classifies new content sources when they are added to our database, and how? Do we want this to be configurable through the content provider interface? @annatuma @kgodey

[2020-07-28 14:23] kgodey commented on #571
we don't have an answer yet, this will depend on the design work that @annatuma and @panchovm are doing on sources/collections and may take a while. we'll update the issue once there are more details.